<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>「成為臺灣人——島嶼與海外敘事」國際學術研討會</title>
    <meta name="description" content="「成為臺灣人——島嶼與海外敘事」研討會以「臺灣研究」為主軸，連結海內外從事臺灣研究的單位及學者，藉由交流研討會、參訪、觀摩等方式，共同找出臺灣在地域特色中，包括文化、文學等多元研究面向及未來發展。預期目標希望能陸續出版「國際臺灣研究」系列叢書，並持續與海外學術機構簽訂「學術研究交流協定」，共同推動臺灣與海外臺灣研究交流與合作與合作；如教師與研究者互訪、學生交換，以及舉辦共同研究計畫、研究會議、交換學術資訊及出版刊物等，建立一個海內外臺灣研究多元合作的發展平台。">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta property="og:locale" content="zh_TW"/>
    <meta property="og:title" content="成為臺灣人——島嶼與海外敘事" />
    <meta property="og:description" content="「成為臺灣人——島嶼與海外敘事」研討會以「臺灣研究」為主軸，連結海內外從事臺灣研究的單位及學者，藉由交流研討會、參訪、觀摩等方式，共同找出臺灣在地域特色中，包括文化、文學等多元研究面向及未來發展。預期目標希望能陸續出版「國際臺灣研究」系列叢書，並持續與海外學術機構簽訂「學術研究交流協定」，共同推動臺灣與海外臺灣研究交流與合作與合作；如教師與研究者互訪、學生交換，以及舉辦共同研究計畫、研究會議、交換學術資訊及出版刊物等，建立一個海內外臺灣研究多元合作的發展平台。" />
    <meta property="og:url" content="https://tainan-400.com/mainlogo-01.svg"/>
    <meta property="og:site_name" content="成為臺灣人——島嶼與海外敘事"/>
    <meta property="og:image:width" content="436">
    <meta property="og:image:height" content="228">
    <meta property="og:image" content="https://tainan-400.com/mainlogo-01.svg" />
    <meta property="og:type" content="image/svg" />
    <meta property="og:image:alt" content="" />
    
    <link rel="shortcut icon" href="mainlogo1.png" type="image/x-icon" />
    <link rel="icon" href="mainlogo1.png" type="image/x-icon" />
    <link rel="bookmark" href="mainlogo1.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="btall.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
</head>
<body>


 
  <nav class="navbar navbar-expand-lg  sticky-top">
      <div class="container-fluid">
          <a class="navbar-brand px-4 d-lg-none" href="becomingtaiwanese.html">
              <img src="mainlogo1.png" alt="Logo" width="auto" height="50" class="logo1 d-inline-block align-text-top ">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto" >
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="#about">研討會前言 <span class="navbarli">About</span></a>
            </li>
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="#lineup">研討會與會人<span class="navbarli" > Attendees</span></a>
            </li>
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="#agenda">議程 <span class="navbarli">Agenda</span></a>
            </li>
            <a class="navbar-brand px-5 d-none d-lg-block " href="becomingtaiwanese.html">
              <img src="mainlogo1.png" alt="Logo" width="auto" height="70" class="mainlogo d-inline-block align-text-top ">
            </a>
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="#information">交通資訊 <span class="navbarli">Information</span></a>
            </li>
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="#footer">聯絡我們 <span class="navbarli">Contact</span></a>
            </li>
            <li class="nav-item2 px-3 " >
              <a href="https://www.youtube.com/@user-fq9es9zw3n">
                <i class="bi bi-youtube  h2""></i>
              </a>
          </li>
          <li class="nav-item2 px-3 ">
              <a href="https://www.facebook.com/profile.php?id=100071813840535&ref=embed_page">
                <i class="bi bi-facebook h2 "></i>
              </a>
          </li>
          <li class="nav-item2 px-3">
            <a href="https://www.instagram.com/taiwan_study_ncku/">
              <i class="bi bi-instagram  h2 "></i></a>
          </li>
         
          </ul>
        </div>
      </div>
  </nav>

  <section id="banner">
    <div class="banner-content"style="max-width: 1600px;margin:auto;">
      <ul style="list-style: none;">
        <li>
        
        </li>
        <!-- <li>
          <a href="#article">
            <button class="btn1" style="position: absolute;left:40%;top:85%;z-index: 95;" >相關文章</button>
          < <img src="窮理.svg"  style="width: 620px;margin: 0;position: absolute;left:25%;top:-15%; z-index: 94" class="gate"> 
        </a> 
        </li>  --

        <!-- <li>
         <a href="https://linktr.ee/chassncku">
          <img src="temple-02.png"  style="width: 500px;margin: 0;position: absolute;right:1%;top:-15%;z-index: 93;" class="temple">
          <button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position: absolute;right:15%;top:17%;z-index: 95;">
            意見回饋
          </button>
        </a>

          
        </li>  
    
        <!-- <li>
          <!-- <img src="chi-08.png" style="width: 320px;margin: 0;position: absolute;right:3%;top:6%;z-index: 94;" class="chi"> -->
          <!-- <img src="醫院.svg"  class="sugarfactory" style="width: 700px;margin: 0;position: absolute;right:-30%;top:-25%;z-index: 94;"> -->
          <!-- <img src="train-12.svg"  style="width: 300px;margin: 0;position: absolute;right:0%;top:50%; z-index: 94;" class="train">  -->
          <!-- <img src="chi-08.png"  style="width: 200px;margin: 0;position: absolute;right:5%;top:40%; z-index: 94" class="chi">  -->
          <!-- <img src="way-07.png"  style="width: 390px;margin: 0;position: absolute;right:5%;top:40%; " class="way">  -->
        </li>  

        <li>
          
          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:-5%;z-index: 94;" class="cloudleft">
          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:40%;z-index: 94;" class="cloudleft">
          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:60%;z-index: 94;" class="cloudleft">
         

          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;left:30%;top:50%;z-index: 94;transform: rotate(180deg);" class="cloudleft">
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;left:10%;top:80%;z-index: 94;" class="cloudleft">

          <img src="cloud-11.png"   style="width: 300px;margin: 0;position: absolute;right:0%;top:0%;z-index: 94;transform: rotate(180deg);" class="cloudright">
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;right:0%;top:50%;z-index: 94;" class="cloudright">
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;right:10%;top:80%;z-index: 94;" class="cloudright">
        </li> 

        <li>
         
        </li> 

        <li>
          
          <img src="beslo.png"  class="slo" style="width:700px;margin: 0;position: absolute;right:22%;top:20%;z-index: 94;" class="slogan">
          <img src="beslo.png"  class="slo2" style="width:400px;margin: 0;position: absolute;right:2%;top:35%;z-index: 94;">
          
          
         

        </li> 

        <!-- <li>
          <a href="#introduce">
            <button class="btn1" style="position: absolute;left:17%;top:58%;z-index: 95;" >「府看．府城」</button>
          <img src="光電.svg"  class="anping" style="width: 200px;margin: 0;position: absolute;left:27%;top:15%;z-index: 94;" ></a>
        </li>  -->

      </ul>
    </div>
  </section>
  
  <div class="activitybar">
    <a href="https://forms.gle/87cDYXrLBB84SC758" target="_blank"><button type="button" class="btn btn-primary" >
    立即報名 <span style="font-size: 10px;">Registration </span>
    </button></a>
  </div>

  
 
  <section id="about" >
    <div class="container" data-aos="fade-up"
    data-aos-duration="2000"  >
      <div class="row "  > 
        <div class="col-1"></div>
        <div class="col-10 ">
          <h3>研討會前言 <span class="h3span">About</span></h3>
          <p style="text-align: justify;">
            臺灣具有獨特的歷史地位，17世紀荷蘭統治時期到明清、日治時期，臺灣接受國際上多元文化的衝擊與融合，二戰後臺灣重新回到以漢文化為主軸的政權統治，歷經了高速的經濟發展與社會變遷、走過戒嚴時期與爭取民主自由的年代。多年來的演變從「復興中華文化」到「去中國化」的爭論，從「讓世界看到臺灣」到成為「屬於世界的臺灣研究」，期待「臺灣研究」逐漸可以別於「漢學」，在亞洲研究中有自己的地位並受到世界的關注。<br>
            <br>
            臺灣的教育部推廣臺灣研究講座計畫至今接近20年，曾於9國42所世界知名大學合作辦理42項臺灣研究講座計畫，辦理學者交流、人才培育、專業著述出版、建置文獻資料庫及舉辦學術交流活動等等，也協助學校建立「臺灣研究」教學資源。國科會近年亦致力於推行臺灣講座計畫，希望能培育教職，充實中堅力量來發展海外學術界臺灣研究網絡，同時全方為培植海外優秀臺灣相關人文及社會科學研究人才。多年的獎助和努力之下，「臺灣研究」在海內外均是成就斐然。但是海外學者對於臺灣的認知與研究還需要建立更廣泛的交流平台，讓不同領域的學者有對話空間，才能拓展臺灣研究的領域。<br>
            <br>
            「成為臺灣人——島嶼與海外敘事」國際學術研討會以「臺灣研究」為主軸，連結海內外從事臺灣研究的單位及學者，藉由交流研討會、參訪、觀摩等方式，共同找出臺灣在地域特色中，包括文化、文學等多元研究面向及未來發展。預期目標希望能陸續出版「國際臺灣研究」系列叢書，並持續與海外學術機構簽訂「學術研究交流協定」，共同推動臺灣與海外臺灣研究交流與合作與合作；如教師與研究者互訪、學生交換，以及舉辦共同研究計畫、研究會議、交換學術資訊及出版刊物等，建立一個海內外臺灣研究多元合作的發展平台。<br>
        </p>

        </div>
      </div>
    </div> 
  </section>


    <div id="app">
      <section id="lineup">
        <h3 style="text-align: center; color: white;">
          研討會與會人 <span class="h3span">Attendees</span>
        </h3>
        <div class="swiper mySwiper" data-aos="fade-up" data-aos-duration="2000" style="padding-top: 20px;">
          <div class="swiper-wrapper">
            <ul class="swiper-slide" v-for="(x, index) in activityList2025.slice(0,40)" :key="index">
              <li class="lslide active" style="width: 212px; margin-right: 10px;" @click="openModal(index)">
                <div class="host" dataimg="images/host1_clr.png" datades="">
                  <div class="cv2">{{x.cv2}}</div>
                  <img :src="x.img" class="head_cover">
                  <div class="host_info">
                    <div class="host_name">{{ x.name }}</div>
                    <div class="host_ename">{{ x.ename }}</div>
                    <div class="host_title">{{ x.unit }}</div>
                   
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  
  
        <!-- Modal -->
        <div class="modal fade" :id="'lineupModal' + index" tabindex="-1" aria-labelledby="lineupModalLabel" aria-hidden="true" v-for="(x, index) in activityList2025.slice(0,40)" :key="'modal' + index">
          <div class="modal-dialog  modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="lineupModalLabel">{{ x.name }}  {{ x.ename }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="d-flex">
                
                  <img :src="x.img" class="img-fluid" >
                 
                  <div>
                    <p class="modal-body-p">現職：{{ x.unit }}</p>
                    <p class="modal-body-p">學歷：{{ x.cv1 }}</p>
                    <p class="modal-body-p">研究領域：{{ x.field }}</p>
              
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a :href="x.url" target="_blank"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
                  <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145"/ style="color: white;">
                </svg>  個人網站website</button></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉Close</button>
              </div>
            </div>
          </div>
        </div>
    
       
      </section>
    </div>

    <section id="agenda">
      <div class="container" data-aos="fade-up"
    data-aos-duration="2000"  >
      <div class="row "  > 
     
        <div class="col-12 ">
          <h3>研討會議程 <span class="h3span">Agenda</span></h3>
          <div class="tab-container">
            <div class="tab-buttons">
                <button class="tab-button active" onclick="openTab(event, 'tab1')">9/24（Tue.）</button>
                <button class="tab-button" onclick="openTab(event, 'tab2')">9/25（	Wed.）</button>
                <button class="tab-button" onclick="openTab(event, 'tab3')">9/26（Thu.）</button>
            </div>
            <div class="tab-content active" id="tab1">
              <p class="losp">
                <i class="bi bi-geo-alt"></i>
                &ensp;&ensp;專題演講、第一場次、第三場次：國立成功大學光復校區中文系 1 樓學術演講廳<br/>
                Keynote Speech、General Session 1、General Session 3: Conference Hall, College of Liberal Arts, Kuang-Fu Campus, NCKU <br/>
                <i class="bi bi-geo-alt"></i>&ensp;&ensp;第二場次、第四場次：國立成功大學光復校區歷史文物館<br/>
                General Session 2、General Session 4: Kuang-Fu Campus, NCKU /NCKU History Archives</p>
              <table class="tabfo">
                <tr>
                    <td class="tobody">時間Time</td>
                    <td colspan="8"   class="tobody"class="tobody">活動Event</td>
                </tr>
                <tr>
                    <td>09:20~<br/>09:50 </td>
                    <td colspan="8">報到Registration</td>
                </tr>
                <tr>
                    <td>09:50~<br/>10:20</td>
                    <td colspan="8">開幕式Opening Ceremony</td>
                </tr>
                <tr>
                    <td rowspan="3">10:20~<br/>12:00</td>
                    <td colspan="8" class="tobody">專題演講Keynote Speech</td>
                </tr>
                <tr>
                  <td colspan="3" class="tobody">主持人<br/>Moderator</td>
                  <td colspan="3" class="tobody">演講人<br/>Speaker</td>
                  <td colspan="2" class="tobody">演講主題<br/>Presentation Topic</td>
                </tr>
                <tr>  
                  <td colspan="3">陳玉女<br/>Yuh-Neu Chen<br/>國立成功大學副校長<br/>Vice President,<br/> National Cheng Kung University</td>
                  <td colspan="3">廖炳惠<br/>Ping-Hui Liao<br/>美國加州大學聖地牙哥分校臺灣研究講座教授<br/>Chuan Lyu Endowed Chair in Taiwan Studies,<br/> University of California, San Diego</td>
                  <td colspan="2">臺灣研究與臺美研究互動<br/>Interactions between Taiwan Studies<br/> and Taiwan-U.S. Studies</td>
                </tr>
                <tr>
                    <td>12:00~<br/>13:30</td>
                    <td colspan="8">休息Break</td>
                </tr>
                <tr>
                  <td rowspan="5">13:30~<br/>15:10</td>
                  <td colspan="4" class="tobody">第一場：跨越海洋的臺灣研究
                    <br/>General Session 1:<br/>Taiwan Studies Across the Ocean
                    </td>
                  <td colspan="4"  class="tobody">第二場：島鏈臺灣：
                    考古、海洋與涉外關係的新視野<br/>General Session 2: <br/>Taiwan in the Island Chain — New Perspectives <br/>on Archaeology, the Ocean, and Foreign Relations
                    </td>
                </tr>
                <tr>
                  <td class="tobody">主持人<br/>Moderator</td>
                  <td class="tobody">發表人<br/>Presenter</td>
                  <td class="tobody">主題<br/>Presentation Topic</td>
                  <td class="tobody">與談人<br/>Discussant</td>
                  <td class="tobody">主持人<br/>Moderator</td>
                  <td class="tobody">發表人<br/>Presenter</td>
                  <td class="tobody">主題<br/>Presentation Topic</td>
                  <td class="tobody">與談人<br/>Discussant</td>
                </tr>
                <tr>
                  <td rowspan="3">吳玫瑛<br/>Mei-Ying Wu<br>國立成功大學台灣文學系特聘教授<br/>Distinguished Professor, <br/>Department of Taiwanese Literature,<br/> National Cheng Kung University </td>
                  <td>林于翔<br/>James Lin<br>美國西雅圖華盛頓大學<br/>歷史學系助理教授<br/>Assistant Professor, <br/>Department of History, <br/>University of Washington</td>
                  <td>戰後時期臺灣與世界的農村改革<br/> Agrarian Reform in Postwar<br/>
                    Taiwan and the World</td>
                  <td>楊子樵<br/>Zi-Qiao Yang<br>國立陽明交通大學<br/>社會與文化研究所<br>助理教授<br/>Assistant Professor,<br/> Institute of Social Research <br/>and Cultural Studies, <br/>National Yang Ming Chiao Tung University</td>
                  <td rowspan="3">劉益昌<br/>Yi-Chang Liu<br/>國立成功大學考古所特聘教授<br/>Distinguished Professor, <br/>Institute of Archaeology,<br/> National Cheng Kung University</td>
                  <td>熊仲卿<br/>Chung-Ching Shiung<br>國立成功大學<br/>考古學研究所副教授<br/>Associate Professor,<br/>Institute of Archaeology,<br/> National Cheng Kung University</td>
                  <td>古魍港內海的考古研究問題<br/>
                    Archaeological Research Questions <br/>in the Ancient <br/>Wanckan Inland Sea</td>
                  <td>康培德<br/>Pei-De Kang<br>國立臺灣師範大學<br/>臺灣史研究所教授<br/>Professor,<br/> Graduate Institute of Taiwan History, <br/>National Taiwan Normal University</td>
                </tr>
                <tr>
                  <td>姜學豪<br/>Howard Chiang<br>美國加州大學聖塔芭芭拉分校<br/>東亞語言與文化研究學系教授<br/>Professor, <br/>Department of East Asian Languages <br/>& Cultural Studies, <br/>University of California, Santa Barbara</td>
                  <td>號外台灣與華語語系研究的未來<br>Taiwan Extra and the Future of<br> Sinophone Studies</td>
                  <td>劉文<br/>Wen Liu<br>中央研究院民族學研究所<br/>副研究員<br/>Associate Research Fellow, <br/>Institute of Ethnology, <br/>Academia Sinica</td>
                  <td>簡宏逸<br/>Hung-Yi Chien<br>國立成功大學<br/>歷史學系助理教授<br/>Assistant Professor, <br/>Department of History, <br/>National Cheng Kung University</td>
                  <td>兩世紀的摸索：<br/>開港前歐洲人如何認識臺灣<br/>Seeking Formosa for Two Centuries: <br/>How the Europeans Knew Taiwan before <br/>the Opening of Treaty Ports</td>
                  <td>翁佳音<br/>Kaim Ang<br>中央研究院臺灣史研究所<br>兼任研究員<br/>Adjunct Research Fellow, <br/>Institute of Taiwan History,<br/> Academia Sinica</td>
                </tr>
                <tr>
                  <td>Nancy Guy<br>美國加州大學<br/>聖地牙哥分校教授<br/>Professor, <br/>Department of Music, <br/>University of <br/>California, San Diego</td>
                  <td>在流行音樂中聆聽臺灣環境意識<br/>Listening for <br>Taiwanese Environmental <br>Consciousness in Popular Music</td>
                  <td>楊建章<br/>Chien-Chang Yang<br>國立臺灣大學音樂學研究所<br>副教授<br/>Associate Professor, <br/>Graduate Institute of Musicology, <br/>National Taiwan University</td>
                  <td>李啟彰<br/>Chi-Chang Lee<br>國立成功大學歷史學系<br>副教授<br/>Associate Professor, <br/>Department of History, <br/>National Cheng Kung University</td>
                  <td>1870年代日本的臺灣探查<br>Japanese exploration of Taiwan <br>in the 1870s</td>
                  <td>吳玲青<br/>Ling-Ching Wu<br>國立高雄師範大學<br>臺灣歷史文化語言研究所<br>副教授<br/>Associate Professor, <br/>Graduate Institute of Taiwan History, <br/>Culture and Languages, <br/>National Kaohsiung Normal University</td>
                </tr>
                <tr>
                  <td>15:10~<br/>15:30</td>
                  <td colspan="8">休息Break</td>
                </tr>
                <tr>
                  <td rowspan="5">15:30~<br/>17:10</td>
                  <td colspan="4" class="tobody">第三場：跨界與（再）劃界：臺灣人的流動與身份認同<br/>General Session 3:<br/>Crossing and (Re)Defining Borders — <br/>Taiwanese’ Mobility and Identity</td>
                <td colspan="4" class="tobody">第四場：人文臺灣：族群、社會與文化發展的多元視角<br/>General Session 4: <br/>Humanities of Taiwan — Diverse Perspectives on Ethnicity, <br/>Society, and Cultural Development</td>
              </tr>
              <tr>
                <td class="tobody">主持人<br/>Moderator</td>
                  <td class="tobody">發表人<br/>Presenter</td>
                  <td class="tobody">主題<br/>Presentation Topic</td>
                  <td class="tobody">與談人<br/>Discussant</td>
                  <td class="tobody">主持人<br/>Moderator</td>
                  <td class="tobody">發表人<br/>Presenter</td>
                  <td class="tobody">主題<br/>Presentation Topic</td>
                  <td class="tobody">與談人<br/>Discussant</td>
              </tr>
              <tr>
                <td rowspan="3">葉耀元<br/>Yao-Yuan Yeh<br/>美國聖湯瑪斯大學國際研究<br/>講座教授<br/>Cullen Trust for Higher Education/<br/>Fayez Sarofim Endowed Chair <br/>in International Studies, <br/>University of St. Thomas</td>
                <td>黃鈺婷<br/>Phyllis Yu-Ting Huang<br/>澳亞臺灣研究協會秘書長<br/>Secretary General,<br/> Australasian Taiwan Studies Association </td>
                <td>戰爭，創傷，新家園：<br/>論台裔美籍作家傅士樂（Melissa Fu）<br/>的國共內戰移民敘述<br/>Searching for a Place to Call Home:<br/>Taiwanese American Writer <br/>Melissa Fu’s Literary <br/>Narratives of the Chinese <br/>Civil War Migrants
                  </td>
                <td>張俐璇<br/>Li-Hsuan Chang<br/>國立臺灣大學<br/>臺灣文學研究所<br/>副教授<br/>Associate Professor,<br/> Graduate Institute of Taiwan Literature,<br/> National Taiwan University</td>
                <td rowspan="3">許佩賢<br/>Pei-Hsien Hsu<br/>國立臺灣師範大學<br/>臺灣史研究所<br/>教授<br/>Professor, <br/>Graduate Institute of <br/>Taiwan History,<br/> National Taiwan <br/>Normal University</td>
                <td>陳家煌<br/>Chia-Huang Chen<br/>國立成功大學<br/>中國文學系教授<br/>Professor, <br/>Department of Chinese Literature, <br/>National Cheng Kung University</td>
                <td>孫元衡眼中原住民形象的轉變<br>The Change in Sun Yuan-heng's<br> Attitude Towards <br/>Taiwan's Indigenous Peoples</td>
                <td>許惠玟<br/>Hui-Wen Hsu<br>國立臺灣文學館研究員<br/>Research Fellow, <br/>National Museum of <br/>Taiwan Literature</td>
              </tr>
              <tr>
                <td>鍾宜庭<br/>Yi-Ting Chung<br/>北美臺灣研究學會 2025 年會長<br/>President,<br/> North American  <br/>Taiwan Studies Association 2025</td>
                <td>福爾摩沙人是誰？ <br/>—二戰下的在美台灣人 <br/>Defining Formosan:  <br/>Taiwanese Diaspora in the United States  <br/>during World War II</td>
                <td>詹閔旭<br/>Min-Xu Zhan<br/>國立中興大學<br/>臺灣文學與跨國文化研究所<br/>副教授<br/>Associate Professor, <br/>Graduate Institute of Taiwan Literature<br/> and Transnational Cultural Studies, <br/>National Chung Hsing University</td>
                <td>廖淑芳<br/>Shu-Fang Liao<br/>國立成功大學<br/>台灣文學系副教授<br/>Associate Professor,<br/> Department of Taiwanese Literature,<br/> National Cheng Kung University</td>
                <td>黑暗如何為晨曦造光?—論陳耀昌《島之曦》<br/>中的疾病醫療與政治<br/>How Does Darkness Create <br/>Light for the Dawn?<br/>—On Disease and Politics <br/>in Chen Yaochang's <br/>"Island of Light"
                </td>
                <td>楊智景<br/>Chih-Ching Yang<br>國立中正大學<br>臺灣文學與創意應用研究所<br>副教授<br/>Associate Professor, <br/>Graduate Institute of <br/>Taiwan Literature and Innovation, <br/>National Chung Cheng University</td>
              </tr>
              <tr>
                <td>應修平<br/>Grace Shiu-Ping Ying<br/>國立陽明交通大學<br/>社會與文化研究所<br/>博士候選人<br/>PhD Candidate, <br/>Institute of Social Research <br/>and Cultural Studies, <br/>National Yang Ming Chiao Tung University</td>
                <td>《海外臺灣基督徒聯合通訊》<br/>之刊物發展與自決意識建構<br/>The Development of <br/>the Journal <em>Taiwan Christian  <br/>United Press of North America </em><br/>and the Rising Awareness of <br/> Self-determination</td>
                <td>吳易叡 <br/>Harry Yi-Jui Wu<br/>國立成功大學全校不分系學分學程<br/>副教授<br/>
                  Associate Professor,<br/> Cross College Elite Program, <br/>National Cheng Kung University</td>
                <td>陳文松<br/>Wen-Sung Chen<br/>國立成功大學<br/>歷史學系教授<br/>Professor, <br/>Department of History, <br/>National Cheng Kung University</td>
                <td>臺灣殖民近代化與「國民」的形塑：<br/>以臺灣西南惡地地域之國語學校畢業生為中心<br/>Colonial Modernization in Taiwan <br/>and the Formation of 'Nationals':<br/> On National Language School Graduates <br/>from the Southwestern 'Badlands' of Taiwan</td>
                <td>許佩賢<br/>Pei-Hsien Hsu<br/>國立台灣師範大學<br/>台灣史研究所<br/>教授<br/>Professor, <br/>Graduate Institute of <br/>Taiwan History,<br/> National Taiwan <br/>Normal University

                </td>
              </tr>
              <tr>
                <td>17:10</td>
                <td colspan="8"  >第一天結束 End of Conference（Day 1）</td>
               </tr>
            </table>
            </div>
            <div class="tab-content" id="tab2">
             <p class="losp">上午場 <i class="bi bi-geo-alt"></i>&ensp;國立成功大學光復校區中文系 1 樓學術演講廳 Conference Hall, College of Liberal Arts, Kuang-Fu Campus, NCKU&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<br/>
             下午場 <i class="bi bi-geo-alt"></i>&ensp;國立臺灣歷史博物館    National Museum of Taiwan History </p>
              <table class="tabfo"> 
                <tr>
                    <td class="tobody">時間Time</td>
                    <td colspan="8"  class="tobody" >活動Event</td>
                </tr>
                <tr>
                    <td>08:30~<br/>09:00 </td>
                    <td colspan="2">報到Registration</td>
                </tr>
                <tr >
                    <td rowspan="3">09:10~<br/>10:30</td>
                    <td colspan="2" class="tobody" >第五場：海外的臺灣敘事——臺灣學研究中心交流 <br/>General Session 5: Taiwan Studies Overseas</td>
                </tr>
                <tr>
                  <td class="tobody">主持人<br/>Moderator</td>
                  <td colspan="2" class="tobody">發表人<br/>Presenter</td>        
                </tr>
                <tr>
                    <td style="width: 800px;">楊政達<br/>Cheng-Ta Yang<br>國立成功大學<br>人文社會科學中心主任<br/>Director, <br/>Research Center for Humanities <br/>and Social Sciences,<br/> National Cheng Kung University</td>
                    <td colspan="2">
                      蔡明燁 Ming-Yeh T. Rawnsley<br/>
                      倫敦大學亞非學院臺灣研究中心<br/>
                      Centre of Taiwan Studies, SOAS University of London<br/>
                      <br/>
                      湯舒雯 Shu-Wen Tang<br/>
                      美國德州奧斯汀大學臺灣研究中心<br/>
                      Center for Taiwan Studies, University of Texas at Austin<br/>
                      <br/>
                      姜學豪 Howard Chiang<br/>
                      美國加州聖塔芭芭拉分校臺灣研究中心<br/>
                      Center for Taiwan Studies, University of California, Santa Barbara<br/>
                      <br/>
                      林于翔 James Lin<br/>
                      美國西雅圖華盛頓大學臺灣研究計畫<br/>
                      Taiwan Studies Program, University of Washington<br/>

                 </tr>
                 <tr>
                    <td>10:30~<br/>10:40</td>
                    <td colspan="2"  >休息</td>
                 </tr>
                 <tr>
                  <td rowspan="3">10:40~<br/>12:00</td>
                  <td colspan="2" class="tobody">第五場：海外的臺灣敘事——臺灣學研究中心交流 <br/>General Session 5: Taiwan Studies Overseas</td>
                  </tr>
                  <tr>
                    <td class="tobody">主持人<br/>Moderator</td>
                    <td colspan="2" class="tobody">發表人<br/>Presenter</td>  
                  </tr>
                  <tr>
                    <td >劉南芳<br/>Nan-Fang Liu<br/>國立成功大學台灣文學系<br/>副教授<br/>Associate Professor, <br/>Department of Taiwanese Literature,<br/> National Cheng Kung University</td>
                    <td colspan="2">
                      葉耀元 Yao-Yuan Yeh<br/>
                      美國聖湯瑪斯大學臺灣與東亞研究計畫<br/>
                      Taiwan & East Asia Studies Program, University of St. Thomas<br/>
                      <br/>
                      廖炳惠 Ping-Hui Liao<br/>
                      美國加州大學聖地牙哥分校臺灣研究中心<br/>
                      Center for Taiwan Studies, University of California, San Diego<br/>
                      <br/>
                      黃鈺婷 Phyllis Yu-Ting Huang<br/>
                      澳亞臺灣研究協會<br/>
                      Australasian Taiwan Studies Association (ATSA) <br/>
                      <br/>
                      鍾宜庭 Yi-Ting Chung<br/>
                      北美臺灣研究學會<br/>
                      North American Taiwan Studies Association (NATSA)<br/>

                      
                      </td> 
                  </tr>
                  <tr>
                    <td>12:00~<br/>14:00</td>
                    <td colspan="2"  >休息Break</td>
                   </tr>
                   <tr>
                    <td>14:00~<br/>15:20</td>
                    <td colspan="2"  >參訪國立臺灣歷史博物館<br/>Visit to the National Museum of Taiwan History</td>
                   </tr>
                   <tr>
                    <td>15:20~<br/>15:30</td>
                    <td colspan="2"  >休息</td>
                   </tr>
                   <tr>
                      <td rowspan="2">15:30~<br/>16:30</td>
                      <td colspan="2" class="tobody" >第六場：座談會 <br/>General Session 6：Roundtable Discussion</td>
                   </tr>
                   <tr>
                      <td colspan="2"  >黃裕元<br/>Yu-Yuan Huang<br/>國立臺灣歷史博物館副研究員<br/>Associate Research Fellow, <br/>National Museum of Taiwan History</td>
                   </tr>
                   <tr>
                      <td>16:30~<br/>17:00</td>
                      <td colspan="2"  >自由參訪<br/>Self-guided tour</td>
                   </tr>
                   
                    <tr>
                      <td>17:00</td>
                      <td colspan="2"  >第二天結束 <br/>End of Conference（Day 2）</td>
                    </tr>
                  
            </table>
            </div>
            <div class="tab-content" id="tab3">
              <p class="losp"><i class="bi bi-geo-alt"></i>&ensp;國立臺灣文學館National Museum of Taiwan Literature</p>
              <table class="tabfo">
                <tr>
                    <td class="tobody">時間Time</td>
                    <td colspan="3"  class="tobody">活動Event</td>
                </tr>
                <tr>
                    <td>09:00~<br/>09:30 </td>
                    <td colspan="3">報到 Registration</td>
                </tr>    
                <tr>
                    <td rowspan="4">09:30~<br/>10:30</td>
                    <td colspan="3" class="tobody">第七場：跨國視域下的臺灣學 <br/>General Session 7: <br/>Taiwan Studies from Transnational Perspectives</td>
                </tr>
                <tr>
                  <td class="tobody">主持人<br/>Moderator</td>
                  <td class="tobody">發表人<br/>Presenter</td>
                  <td class="tobody">主題<br/>Presentation Topic</td>
                </tr>
                <tr>
                  <td rowspan="2">蘇碩斌<br/>Shuo-Bin Su<br>國家科學及技術委員會人文及<br/>社會科學研究發展處處長<br/>Director General,<br/> Department of Humanities and <br/>Social Sciences, National Science and <br/>Technology Council</td>
                  <td >Sabine Frühstück<br>美國加州大學聖塔芭芭拉分校<br/>東亞語言及文化研究系教授<br/>Distinguished Professor, <br/>Department of East Asian Languages & Cultural Studies, <br/>University of California,<br/> Santa Barbara</td>
                  <td >臺灣製造：<br/>21世紀的全球敘事、童年記憶與大學部研究 <br>Made in Taiwan : <br>Global Storytelling, <br>Childhood Memories, <br>and Undergraduate Research <br>in the 21st Century</td>
                </tr>
                <tr>
                  
                  <td >吳玫瑛<br/>Mei-Ying Wu<br>國立成功大學台灣文學系特聘教授<br/>Distinguished Professor,<br/> Department of Taiwanese Literature, <br/>National Cheng Kung University</td>
                  <td style="width: 500px;">臺灣當代繪本中的童年形構與「家」的多重想像<br>Imag(in)ing “Home” and Childhood Space<br> in Contemporary Taiwanese Picturebooks</td>
                </tr>
                <tr>
                  <td>10:30~<br/>10:50 </td>
                  <td colspan="3">休息</td>
              </tr>
              <tr>
                <td rowspan="5">10:50~<br/>12:10</td>
                <td colspan="3" class="tobody">第七場：跨國視域下的臺灣學 <br/>General Session 7: <br/>Taiwan Studies from Transnational Perspectives</td>
  
            </tr>
            <tr>
              <td class="tobody">主持人<br/>Moderator</td>
              <td class="tobody">發表人<br/>Presenter</td>
              <td class="tobody">主題<br/>Presentation Topic</td>
            </tr>
            <tr>
              <td rowspan="3">蔡明燁<br/>Ming-Yeh T. Rawnsley<br>英國倫敦大學亞非學院台灣研究中心<br/>副研究員<br/>Research Associate,<br/> Centre of Taiwan Studies, <br/>SOAS University of London</td>
              <td >林佩蓉<br/>Pei-Jung Lin<br>國立臺灣文學館副研究員<br/>Associate Research Fellow, <br/>National Museum of Taiwan Literature</td>
              <td >十年來台灣文學外譯情形<br>The Translation of Taiwanese Literature<br/> over the Past Decade</td>
            </tr>
           
            <tr>
              <td >王婉容<br/>Wan-Jung Wang<br>國立台南大學戲劇創作與應用學系教授<br/>Professor, <br/>Department of Drama Creation and Application,<br/> National University of Tainan</td>
              <td >臺灣社區場域內<br/>多元劇本文學的外譯出版和<br/>跨國研究過程的經驗與反思
                Reflection on <br/>the Translation and Research of<br/> Taiwanese Dramatic Literature <br/>in Multifaceted Community Settings <br/>in Southern Taiwan
                </td>
            </tr>
            <tr>
              <td >林明發<br/>Beng-Huat Lim<br>國立成功大學人文社會科學中心<br/>博士後研究員<br/>Postdoctoral Research Fellow, <br/>Research Center for <br/>Humanities and Social Sciences, <br/>National Cheng Kung University</td>
              <td >譯鄉人：<br/>東南亞移民工文學的產生與發展<br/>Translator:<br/> The Emergence and Development of <br/>Southeast Asian Migrant Worker Literature</td>
            </tr>
            <tr>
                <td>12:10~<br/>12:30</td>
                <td colspan="3"  >研討會閉幕式<br/>Closing Ceremony</td>
            </tr>
            <tr>
              <td>12:30~<br/>14:00</td>
              <td colspan="3"  >休息Break</td>
          </tr>
          <tr>
            <td>14:00~<br/>16:00</td>
            <td colspan="3"  >參訪國立臺灣文學館與交流<br/>Visit to <br/>the National Taiwan Museum of Literature</td>
        </tr>
        <tr>
          <td>16:00</td>
          <td colspan="3"  >研討會結束<br/> End of Conference</td>
      </tr> <tr>
       
    </tr>
          
            </table>
            </div>
        </div>

        </div>
      </div>
    </div> 
    </section>

    <section id="information" >
     
      <div class="container  py-3 " data-aos="fade-up"
      data-aos-duration="2000" >
      <h3 >交通資訊 <span class="h3span">Information</span></h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" style="text-align: justify;">
            <img src="" alt="">
            <p style="color:gray;line-height: 32px;letter-spacing: 2px;align-items: center;">
             
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
              </svg>  <span class="inspan">自行開車</span><br>
              <strong>南下：</strong>走中山高速公路南下 → 於永康交流道下高速公路 → 走中正南路(西向)往台南市區 → 轉中華東路 → 達小東路口右轉(西向)直走便可抵成大校區。<br>
             <strong>北上：</strong>走中山高速公路北上 → 於仁德交流道下高速公路 → 走東門路(西向)往台南市區 → 直走遇長榮路右轉(北向)可抵自強、成功、敬業、建國校區 → 東門路過長榮路遇勝利路右轉(北向)直走可抵光復校門口、成功校區等。<br>
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-train-front-fill" viewBox="0 0 16 16">
                <path d="M10.621.515C8.647.02 7.353.02 5.38.515c-.924.23-1.982.766-2.78 1.22C1.566 2.322 1 3.432 1 4.582V13.5A2.5 2.5 0 0 0 3.5 16h9a2.5 2.5 0 0 0 2.5-2.5V4.583c0-1.15-.565-2.26-1.6-2.849-.797-.453-1.855-.988-2.779-1.22ZM6.5 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m-2 2h7A1.5 1.5 0 0 1 13 5.5v2A1.5 1.5 0 0 1 11.5 9h-7A1.5 1.5 0 0 1 3 7.5v-2A1.5 1.5 0 0 1 4.5 4m.5 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m0 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-3-1a1 1 0 1 1 0 2 1 1 0 0 1 0-2M4 5.5a.5.5 0 0 1 .5-.5h3v3h-3a.5.5 0 0 1-.5-.5zM8.5 8V5h3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z"/>
              </svg>  <span class="inspan">高鐵</span><br>
              高鐵台南站下車後，轉乘臺鐵沙崙線至台南站下車，往後站方向，出口正對面即為大學路，大學路直走左手邊可見光復校門口。<br>
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-train-freight-front-fill" viewBox="0 0 16 16">
                <path d="M5.736 0a1.5 1.5 0 0 0-.67.158L1.828 1.776A1.5 1.5 0 0 0 1 3.118v5.51l2-.6V5a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.028l2 .6v-5.51a1.5 1.5 0 0 0-.83-1.342L10.936.158A1.5 1.5 0 0 0 10.264 0zM15 9.672l-5.503-1.65A.5.5 0 0 0 9.353 8H8.5v8h4a2.5 2.5 0 0 0 2.5-2.5zM7.5 16V8h-.853a.5.5 0 0 0-.144.021L1 9.672V13.5A2.5 2.5 0 0 0 3.5 16zm-1-14h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1M12 5v2.728l-2.216-.665A1.5 1.5 0 0 0 9.354 7H8.5V5zM7.5 5v2h-.853a1.5 1.5 0 0 0-.431.063L4 7.728V5zm-4 5a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1m9 0a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1M5 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
              </svg>  <span class="inspan">臺鐵</span><br>
              台南站下車後，往後站方向，出口正對面即為大學路，大學路直走左手邊可見光復校門口。
             </p>
          
              </div>
          <div class="col video ">
            <div style="position:relative;padding-top:64.25%;padding-left:10%;" ><iframe width="560" height="315" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4968.414913180597!2d120.21558434255209!3d22.999424471386426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e76ed6d68c845%3A0xeab64d68ea370e72!2z5ZyL56uL5oiQ5Yqf5aSn5a245Lit5ZyL5paH5a2457O7!5e0!3m2!1szh-TW!2stw!4v1715952053247!5m2!1szh-TW!2stw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:120%;border-radius: 10px;border: 2px solid #D3A581;"></iframe></div>
          </div>
          
            </div> 
        </div>
      </div>
    </section>
    
    <!-- <section id="conatct" >
      <div class="swiper mySwiper" data-aos="fade-up"
      data-aos-duration="2000" >
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="i in urlList">
            <a :href="i.url">
              <img :src="i.img" alt="" class="swiperurl">
            </a>
          </div>
        </div>
      </div>
     
    </section>
  </div> -->
    
  <section id="footer">
    <footer class="footer  py-5 " >
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-1">
           
          </div>
          <div class="col-10">
            <div class="span_group">
              <div class="spanBox">
                <span>主辦單位Organizers |</span>
                <a href="https://chass.ncku.edu.tw/" target="_blank"><img src="fl-01.png" alt="" class="spon"></a>
                <a href="https://twl.ncku.edu.tw/" target="_blank"><img src="fl-02.png" alt="" class="spon"></a>
                <a href="https://taiwan.ucsd.edu/" target="_blank"><img src="fl-03.png" alt="" class="spon"></a>
                <a href="https://tsncku.com.tw/" target="_blank"> <img src="fl-04.png" alt="" class="spon"></a>
               
              </div>
              <div class="spanBox">
                <span>協辦單位Co-organizers |</span>
                <a href="https://www.nmtl.gov.tw/" target="_blank"><img src="fl-05.png" alt="" class="spon"></a>
                <a href="https://www.nmth.gov.tw/" target="_blank"><img src="fl-06.png" alt="" class="spon"></a>
                <a href="https://his.ncku.edu.tw/" target="_blank"><img src="fl-07.png" alt="" class="spon"></a>
                <a href="https://taiwancenter.eastasian.ucsb.edu/" target="_blank"><img src="ucsb.png" alt="" class="spon"></a>
                <a href="https://www.stthom.edu/Home/Index.aqf" target="_blank"><img src="ustc.png" alt="" class="spon"></a>
              </div>
              <div class="spanBox">
                <span>指導單位Advisory organizations |</span>
                <a href="https://www.nstc.gov.tw/" target="_blank"><img src="fl-08.png" alt="" class="spon"></a>
                  <a href="https://ord.ncku.edu.tw/" target="_blank"><img src="fl-09.png" alt="" class="spon"></a>
              </div>
            </div>
          </div>
          <div class="col-1">
            
          </div>
        </div>
      </div>
      
   
      <p class="px-3" style="color: #BE907F;font-size: 14px;">
        Research Center for Humanities and Social Sciences, NCKU<br/>
        Tel：06-2757575 ext.56056<br/>
        Fax:06-2088264<br/>
        Email：nckutwchass@gmail.com<br/>
        Add：No.1,University Rd.,Tainan 70101,Taiwan<br/>
        Copyright © 2024 國立成功大學人文社會科學中心. All rights reserved.<br/>
        </p>
      <ul class="list-unstyled" style="display: flex;    justify-content: center;" >
        <li class="px-3 " >
          <a href="https://www.youtube.com/@user-fq9es9zw3n">
            <i class="bi bi-youtube  h2""></i></a>
        </li>
        <li class="px-3">
          <a href="https://www.instagram.com/taiwan_study_ncku/">
            <i class="bi bi-instagram  h2 "></i></a>
        </li>
        <li class="px-3">
          <a href="https://podcasts.apple.com/us/podcast/%E6%88%90%E5%A4%A7%E4%BA%BA%E8%81%B2-ep-0-%E9%A0%90%E5%91%8A/id1614380302?i=1000554171013">
            <i class="bi bi-spotify h2 "></i></a>
        </li>
        <li class="px-3">
          <a href="https://www.facebook.com/profile.php?id=100071813840535&ref=embed_page">
            <i class="bi bi-facebook h2 "></i></i></a>
      </li>
    </li>
    <li class="immg px-3">
    <a href="https://lin.ee/CSXZjzvm"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" width="100" border="0"></a>
    </li>

        </ul> 
       
    </footer>
  </section>
  <button onclick="topFunction()" id="topBtn" title="回到頂部"><i class="bi bi-arrow-up" style="color: white;"></i></button>

   <!-- Messenger 洽談外掛程式 Code -->
   <div id="fb-root"></div>

   <!-- Your 洽談外掛程式 code -->
   <div id="fb-customer-chat" class="fb-customerchat">
   </div>


  
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.1/dist/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js" integrity="sha512-gEM2INjX66kRUIwrPiTBzAA6d48haC9kqrWZWjzrtnpCtBNxOXqXVFEeRDOeVC13pw4EOBrvlsJnNr2MXiQGvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js."></script>
  <script src="becomevue.js"></script>
  <script src="btall.js"></script>
 

  <script>
     var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "104877438580876");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v17.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  

  <script>
    function openTab(evt, tabId) {
      // 取得所有 tab-content 元素，並隱藏它們
      var tabContents = document.getElementsByClassName("tab-content");
      for (var i = 0; i < tabContents.length; i++) {
          tabContents[i].style.display = "none";
          tabContents[i].classList.remove("active");
      }
  
      // 取得所有 tab-button 元素，並移除 active 類別
      var tabButtons = document.getElementsByClassName("tab-button");
      for (var i = 0; i < tabButtons.length; i++) {
          tabButtons[i].classList.remove("active");
      }
  
      // 顯示當前的 tab-content，並添加 active 類別到對應的 tab-button
      document.getElementById(tabId).style.display = "block";
      document.getElementById(tabId).classList.add("active");
      evt.currentTarget.classList.add("active");
  }
  
  // 預設顯示第一個頁籤的內容
  document.addEventListener("DOMContentLoaded", function() {
      document.getElementsByClassName("tab-content")[0].style.display = "block";
  });
  
  </script>
 
<script>
  (function(d) {
    var config = {
      kitId: 'mql5knc',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
    
</body>
</html>

