<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024臺南四百，成功永續，臺灣未來——跨界成城，鯤聲寰宇</title>
    <meta name="description" content="書展的主題「2024臺南四百：成功永續，臺灣未來——跨界成城、鯤聲寰宇」，旨在展現成功大學的創校精神，參與臺灣的發展，及承擔臺灣的未來。書展分為三個主題區域：一、鯤鯓大成：成大回顧自我歷史、文化與傳承；二、墨海拾光：成大驅動臺灣人文發展的時代印記；三、織夢成書：成大前瞻臺灣的未來與挑戰。以「回顧、驅動、前瞻」為軸線，匯聚校園智慧之光，傳遞知識之炬。
    ">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta property="og:locale" content="zh_TW"/>
    <meta property="og:title" content="2024臺南四百，成功永續" />
    <meta property="og:description" content="書展的主題「2024臺南四百：成功永續，臺灣未來——跨界成城、鯤聲寰宇」，旨在展現成功大學的創校精神，參與臺灣的發展，及承擔臺灣的未來。書展分為三個主題區域：一、鯤鯓大成：成大回顧自我歷史、文化與傳承；二、墨海拾光：成大驅動臺灣人文發展的時代印記；三、織夢成書：成大前瞻臺灣的未來與挑戰。以「回顧、驅動、前瞻」為軸線，匯聚校園智慧之光，傳遞知識之炬。
    " />
    <meta property="og:url" content="bsstlogo.png"/>
    <meta property="og:site_name" content="2024臺南四百，成功永續"/>
    <meta property="og:image:width" content="436">
    <meta property="og:image:height" content="228">
    <meta property="og:image" content="bsstlogo.png" />
    <meta property="og:type" content="image/svg" />
    <meta property="og:image:alt" content="" />
    
    <link rel="shortcut icon" href="bssticon.png" type="image/x-icon" />
    <link rel="icon" href="bssticon.png" type="image/x-icon" />
    <link rel="bookmark" href="bssticon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bsst.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet"  />
     <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print">
    
    
</head>
<body>
 
    <nav class="navbar navbar-expand-lg  sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand px-4 d-lg-none" href="bsst.html">
                <img src="bsstlogo.png" alt="Logo" width="auto" height="60" class="logo1 d-inline-block align-text-top ">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto" >
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#about">關於書展<span class="navbarli">About</span> </a>
              </li>
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#activity">系列活動 <span class="navbarli">Events</span></a>
              </li>
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#eventcalendar">活動日曆 <span class="navbarli">Calendar</span></a>
              </li>
              <a class="navbar-brand px-5 d-none d-lg-block " href="bsst.html">
                <img src="bsstlogo.png" alt="Logo" width="auto" height="74" class="mainlogo d-inline-block align-text-top ">
              </a>
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#publications">出版品<span class="navbarli"> publications</span></a>
              </li>
            
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#footer">聯絡我們 <span class="navbarli">Contact</span> </a>
              </li>
              <li class="nav-item2 px-3 " >
                <a href="https://www.youtube.com/@user-fq9es9zw3n">
                  <i class="bi bi-youtube  h2""></i>
                </a>
            </li>
            <li class="nav-item2 px-3 ">
                <a href="https://www.facebook.com/profile.php?id=61563481774384">
                  <i class="bi bi-facebook h2 "></i>
                </a>
            </li>
            <li class="nav-item2 px-3">
              <a href="https://www.instagram.com/taiwan_study_ncku/">
                <i class="bi bi-instagram  h2 "></i></a>
            </li>
            </ul>
          </div>
        </div>
    </nav>

    <section id="banner">
      <div class="banner-content"style="max-width: 1600px;margin:auto;">
        <ul style="list-style: none;">
          <li>
          
            <img src="whale.png"  class="slogan" style="width:730px;margin: 0;position: absolute;right:-280%;top:50px;z-index: 94;" class="slogan">


            <img src="bsstslo.png"  class="slo" style="width:500px;margin: 0;position: absolute;right:-350%;top:-50px;z-index: 94;" class="slogan">

            <img src="bsstslo.png"  class="slo2" style="width:400px;margin: 0;position: absolute;right:-350%;top:-0px;z-index: 94;" class="slogan">
            
          </li> 
        </ul>
      </div>
    </section>

    <div class="activitybar">
      <a href="DM-02.jpg" target="_blank">
        <img src="bsstbut-13.png" alt="" class="activitybarpic">
      </a>
    </div>
    <div class="activitybar2">
      <a href="DM1.jpg" target="_blank">
        <img src="bsstbut-14.png" alt="" class="activitybarpic">
      </a>
    </div>
    <div class="activitybar3">
      <a href="booklist.html" target="_blank">
        <img src="booklist.png" alt="" class="activitybarpic">
      </a>
    </div>
  
  
    
  
    <section id="about" >
      <div class="container" data-aos="fade-up"
      data-aos-duration="2000"  >
        <div class="row "  > 
          <div class="col-1"></div>
          <div class="col-10 ">
            <h3>關於書展<span class="h3span">About</span></h3>
            <p style="text-align: justify;">
              此次書展由成功大學全校型臺灣學計畫策劃，匯集成功大學學術成果，展示成大教師對校園、臺南府城及臺灣的書寫作品。展覽內容涵蓋學術研究、田野調查、考古發掘及創作等領域，多聲道傳述成大乃至臺灣的多元文化。透過學術與實踐的融合，這些著作體現了對地方、歷史與文化所肩負的責任，展現教師對在地的凝視與對話，彰顯其豐碩的研究及出版成果。<br>
              <br>
              書展的主題<b>「2024臺南四百：成功永續，臺灣未來——跨界成城、鯤聲寰宇」</b>，旨在展現成功大學的創校精神，參與臺灣的發展，及承擔臺灣的未來。書展分為三個主題區域：<b>一、鯤鯓大成：成大回顧自我歷史、文化與傳承；二、墨海拾光：成大驅動臺灣人文發展的時代印記；三、織夢成書：成大前瞻臺灣的未來與挑戰。</b>以「回顧、驅動、前瞻」為軸線，匯聚校園智慧之光，傳遞知識之炬。<br>
              <br>
              成大創校時，首任校長若槻道隆強調師生應積極承擔社會參與的責任，並期許「教師樹立研究實驗的規範，並提供產學合作的機會，肩負推廣科技知識的使命」。成大師生始終貫徹此創校理念，致力培養兼具嚴謹學術、實踐能力與社會責任感的校風。<br>
            

              

          </p>

          </div>
        </div>
      </div> 

      
    </section>

    <div id="app">
      <section id="activity">
        <h3 style="text-align: center; color: #546C75;">
           系列活動<span class="h3span">Events</span>
        </h3>
        <div class="swiper mySwiper" data-aos="fade-up" data-aos-duration="2000" style="padding-top: 20px;">
          <div class="swiper-wrapper">
            <ul class="swiper-slide" v-for="(x, index) in activityList2024.slice(0,34)" :key="index">
             
              <a :href="x.url" target="_blank">
                <img :src="x.img" alt="" class="swiperimg">    
            </a>
            
            </ul>
          </div>
        </div>    

         
      </section>
    

    <section id="eventcalendar" >
      <div class="container  py-3 " >
      <h3>活動日曆<span class="h3span">Event Calendar</span></h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
         
            <div id="calendar"></div>
        
        </div>
      </div>
    </section>

    <section id="publications" >   
      <div class="container  py-3 " data-aos="fade-up"
      data-aos-duration="2000" >
      <h3 style="color: #546C75;">出版品<span class="h3span">
        publications</span></h3>
        <div class="swiper mySwiper" data-aos="fade-up" data-aos-duration="2000" style="padding-top: 20px;">
          <div class="swiper-wrapper">
            <ul class="swiper-slide" v-for="(x, index) in booklist.slice(0,34)" :key="index">
             
              <a :href="x.url" target="_blank">
                <img :src="x.img" alt="" class="swiperimg">    
            </a>
            
            </ul>
          </div>
        </div>    
      </div>
    </section>
  </div>
    <section id="footer">
      <footer class="footer  py-5 " >
        <div class="container text-center">
          <div class="row align-items-center">
            <div class="col-1">
              
            </div>
            <div class="col-10">
              <div class="span_group">
                <div class="spanBox">
                  <span>主辦單位Organizers |</span>
                    <a href="https://tsncku.com.tw/" target="_blank"><img src="bsstbtlogo-08.png" alt="" class="spon"></a>
                    <a href="https://chass.ncku.edu.tw/" target="_blank"><img src="bsstbtlogo-09.png" alt="" class="spon"></a>
                    <a href="http://archaeology.ncku.edu.tw/" target="_blank"><img src="bsstbtlogo-10.png" alt="" class="spon"></a>
                    <a href="https://museum.ncku.edu.tw/" target="_blank"><img src="bsstbtlogo-11.png" alt="" class="spon"></a>
                    <a href="https://his.ncku.edu.tw/" target="_blank"><img src="bsstbtlogo-12.png" alt="" class="spon"></a>
                  </div>
              </div>
            </div>
            <div class="col-1">
              
            </div>
          </div>
        </div>
        
      
        <p class="px-3" >
          <img src="bsstlogo.png" alt="" style="width: 250px;"><br/>
          2024 臺南四百，成功永續，臺灣未來——跨界成城，鯤聲寰宇<br/>
          Tainan 400: Bridging Success for a Sustainable Taiwan<br/>

          Tel：06-2757575 <br/>
          Add：No.1,University Rd.,Tainan 70101,Taiwan<br/>
          Copyright © 2024 國立成功大學人文社會科學中心. All rights reserved.<br/>
          </p>
        <ul class="list-unstyled" style="display: flex;    justify-content: center;" >
          <li class="px-3 " >
            <a href="https://www.youtube.com/@user-fq9es9zw3n">
              <i class="bi bi-youtube  h2""></i></a>
          </li>
          <li class="px-3">
            <a href="https://www.instagram.com/taiwan_study_ncku/">
              <i class="bi bi-instagram  h2 "></i></a>
          </li>
          <li class="px-3">
            <a href="https://podcasts.apple.com/us/podcast/%E6%88%90%E5%A4%A7%E4%BA%BA%E8%81%B2-ep-0-%E9%A0%90%E5%91%8A/id1614380302?i=1000554171013">
              <i class="bi bi-spotify h2 "></i></a>
          </li>
          <li class="px-3">
            <a href="https://www.facebook.com/profile.php?id=61563481774384">
              <i class="bi bi-facebook h2 "></i></i></a>
        </li>
      </li>
      <li class="immg px-3">
      <a href="https://lin.ee/CSXZjzvm"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" width="100" border="0"></a>
      </li>

          </ul> 
          
      </footer>
    </section>

    <button onclick="topFunction()" id="topBtn" title="回到頂部"><i class="bi bi-arrow-up" style="color: white;"></i></button>


   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.1/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js" integrity="sha512-gEM2INjX66kRUIwrPiTBzAA6d48haC9kqrWZWjzrtnpCtBNxOXqXVFEeRDOeVC13pw4EOBrvlsJnNr2MXiQGvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.1/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js."></script>
    <script src="vuepaper.js"></script>
    <script src="all.js"></script>


  
 

  <script>
     var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "104877438580876");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v17.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  

  <script>
    function openTab(evt, tabId) {
      // 取得所有 tab-content 元素，並隱藏它們
      var tabContents = document.getElementsByClassName("tab-content");
      for (var i = 0; i < tabContents.length; i++) {
          tabContents[i].style.display = "none";
          tabContents[i].classList.remove("active");
      }
  
      // 取得所有 tab-button 元素，並移除 active 類別
      var tabButtons = document.getElementsByClassName("tab-button");
      for (var i = 0; i < tabButtons.length; i++) {
          tabButtons[i].classList.remove("active");
      }
  
      // 顯示當前的 tab-content，並添加 active 類別到對應的 tab-button
      document.getElementById(tabId).style.display = "block";
      document.getElementById(tabId).classList.add("active");
      evt.currentTarget.classList.add("active");
  }
  
  // 預設顯示第一個頁籤的內容
  document.addEventListener("DOMContentLoaded", function() {
      document.getElementsByClassName("tab-content")[0].style.display = "block";
  });
  
  </script>
 
<script>
  (function(d) {
    var config = {
      kitId: 'mql5knc',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);

  
</script>
   
</body>
</html>

