<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024臺南國際人權藝術節</title>
    <meta name="description" content="2024臺南國際人權藝術節以「無力者／Right Said Right」為主軸，展開人權議題的探討與推廣。無力者（むりょくしゃ）為「有力者」（ゆうりょくしゃ）的相對，1924年，辜顯榮、林熊徵為反對臺灣議會設置請願運動，於6月27日下午四時在辜家商行大和行舉辦「全島有力者大會」，認為議會設置請願僅是本島少數人之空想，不能代表全島多數人的聲音。而有力者意為有影響力的、重要的人。隨後，林獻堂等人於7月3日，於全臺北、中、南召開「全島無力者大會」，臺北在「港町文化講座」舉行演講、臺中則於錦町林公祠召開會議，聚集約一千人，表達爭取人道正義與自由的權利。2024年適逢無力者大會百年，取其不畏強權施壓，願與無助大眾站在一起，維護人權正義挺身而出的精神，推廣人權議題。">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta property="og:locale" content="zh_TW"/>
    <meta property="og:title" content="2024臺南國際人權藝術節" />
    <meta property="og:description" content="2024臺南國際人權藝術節以「無力者／Right Said Right」為主軸，展開人權議題的探討與推廣。無力者（むりょくしゃ）為「有力者」（ゆうりょくしゃ）的相對，1924年，辜顯榮、林熊徵為反對臺灣議會設置請願運動，於6月27日下午四時在辜家商行大和行舉辦「全島有力者大會」，認為議會設置請願僅是本島少數人之空想，不能代表全島多數人的聲音。而有力者意為有影響力的、重要的人。隨後，林獻堂等人於7月3日，於全臺北、中、南召開「全島無力者大會」，臺北在「港町文化講座」舉行演講、臺中則於錦町林公祠召開會議，聚集約一千人，表達爭取人道正義與自由的權利。2024年適逢無力者大會百年，取其不畏強權施壓，願與無助大眾站在一起，維護人權正義挺身而出的精神，推廣人權議題。" />
    <meta property="og:url" content="humanright.png"/>
    <meta property="og:site_name" content="2024臺南國際人權藝術節"/>
    <meta property="og:image:width" content="436">
    <meta property="og:image:height" content="228">
    <meta property="og:image" content="humanright.png" />
    <meta property="og:type" content="image/svg" />
    <meta property="og:image:alt" content="" />
    
    <link rel="shortcut icon" href="icon.png" type="image/x-icon" />
    <link rel="icon" href="icon.png" type="image/x-icon" />
    <link rel="bookmark" href="icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="humanright.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet"  />
     <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print">
    
    
</head>
<body>
 
    <nav class="navbar navbar-expand-lg  sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand px-4 d-lg-none" href="humanright.html">
                <img src="humanright.png" alt="Logo" width="auto" height="60" class="logo1 d-inline-block align-text-top ">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto" >
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#about">關於藝術節<span class="navbarli">About</span> </a>
              </li>
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#activity">系列活動 <span class="navbarli">Events</span></a>
              </li>
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#video">活動日程 <span class="navbarli">Calendar</span></a>
              </li>
              <a class="navbar-brand px-5 d-none d-lg-block " href="humanright.html">
                <img src="humanright.png" alt="Logo" width="auto" height="74" class="mainlogo d-inline-block align-text-top ">
              </a>
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#information">交通資訊 <span class="navbarli">Information</span></a>
              </li>
            
              <li class="nav-item px-3" >
                <a class="nav-link " aria-current="page" href="#footer">聯絡我們 <span class="navbarli">Contact</span> </a>
              </li>
              <li class="nav-item2 px-3 " >
                <a href="https://www.youtube.com/@user-fq9es9zw3n">
                  <i class="bi bi-youtube  h2""></i>
                </a>
            </li>
            <li class="nav-item2 px-3 ">
                <a href="https://www.facebook.com/profile.php?id=100071813840535&ref=embed_page">
                  <i class="bi bi-facebook h2 "></i>
                </a>
            </li>
            <li class="nav-item2 px-3">
              <a href="https://www.instagram.com/taiwan_study_ncku/">
                <i class="bi bi-instagram  h2 "></i></a>
            </li>
            </ul>
          </div>
        </div>
    </nav>

    <section id="banner">
      <div class="banner-content"style="max-width: 1600px;margin:auto;">
        <ul style="list-style: none;">
          <li>
          
            <img src="humanslo.png"  class="slogan" style="width:400px;margin: 0;position: absolute;right:-370%;top:100px;z-index: 94;" class="slogan">
            <img src="humantime.png"  class="slo" style="width:300px;margin: 0;position: absolute;right:-50%;top:125px;z-index: 94;" class="slogan">
            
          </li> 
        </ul>
      </div>
    </section>
  
    <section id="about" >
      <div class="container" data-aos="fade-up"
      data-aos-duration="2000"  >
        <div class="row "  > 
          <div class="col-1"></div>
          <div class="col-10 ">
            <h3>關於臺南人權藝術節<span class="h3span">About</span></h3>
            <p style="text-align: justify;">
              2024臺南國際人權藝術節以「無力者／Right Said Right」為主軸，展開人權議題的探討與推廣。無力者（むりょくしゃ）為「有力者」（ゆうりょくしゃ）的相對，1924年，辜顯榮、林熊徵為反對臺灣議會設置請願運動，於6月27日下午四時在辜家商行大和行舉辦「全島有力者大會」，認為議會設置請願僅是本島少數人之空想，不能代表全島多數人的聲音。而有力者意為有影響力的、重要的人。隨後，林獻堂等人於7月3日，於全臺北、中、南召開「全島無力者大會」，臺北在「港町文化講座」舉行演講、臺中則於錦町林公祠召開會議，聚集約一千人，表達爭取人道正義與自由的權利。2024年適逢無力者大會百年，取其不畏強權施壓，願與無助大眾站在一起，維護人權正義挺身而出的精神，推廣人權議題。 <br>

              <br>
              今年，我們將結合國家人權博物館的理念，並發揮南臺灣的觀點，注重土地關係、行動主體和自由平權。我們將繼續深耕南臺灣，關注轉型正義、司法正義、文化正義，深入發掘當地故事，並致力於跨域的交流與永續發展。本計畫將透過藝術創作和展演、講座、論壇，以凝聚世界各地平權訴求，追求不同族群共同繁榮未來。當我們以「人」為核心，努力「成為更好的臺灣（Becoming better Taiwan）」，臺灣將成為世界的一股力量。此次藝術節將結合跨界的學術合作、實作課程、藝術行動，除了強化研究厚度，探索方法論，持續研發新議題，也將致力讓豐富元素活絡地展演交流，在研究、教學、展示、創作、推廣上繼續創新。
            
          </p>

          </div>
        </div>
      </div> 

      
    </section>

    <div id="app">
      <section id="activity">
        <h3 style="text-align: center; color: #fef4dd;">
           系列活動<span class="h3span">Events</span>
        </h3>
        <div class="swiper mySwiper" data-aos="fade-up" data-aos-duration="2000" style="padding-top: 20px;">
          <div class="swiper-wrapper">
            <ul class="swiper-slide" v-for="(x, index) in activityList2025.slice(0,34)" :key="index">
             
              <li class="lslide active" style="width: 212px; margin-right: 10px;" @click="openModal(index)">
                <div class="host" dataimg="images/host1_clr.png" datades="">
                  <img :src="x.img" class="head_cover">
                </div>
              </li>
            
            </ul>
          </div>
        </div>    

           <!-- Modal -->
           <div class="modal fade" :id="'lineupModal' + index" tabindex="-1" aria-labelledby="lineupModalLabel" aria-hidden="true" v-for="(x, index) in activityList2025.slice(0,34)" :key="'modal' + index">
            <div class="modal-dialog  modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="lineupModalLabel">{{ x.title }} </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                  <div class="d-flex">
                  
                    <img :src="x.img" class="img-fluid" >
                   
                    <div>
                      <p class="modal-body-p">時間：{{ x.data }}</p>
                      <p class="modal-body-p">地點：{{ x.location }}</p>
                       <p class="modal-body-p">主講人：{{ x.author }}</p>

                      <p class="modal-body-p">活動簡介：{{ x.introduction }}</p>
                
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a :href="x.url" target="_blank"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
                    <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145"/ style="color: white;">
                  </svg> 前往報名</button></a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉Close</button>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>

    <section id="video" >
      <div class="container  py-3 " data-aos="fade-up"
      data-aos-duration="2000" >
      <h3>活動日程<span class="h3span">Event Calendar</span></h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
         
            <div id="calendar"></div>
        
        </div>
      </div>
    </section>

    <section id="information" >   
      <div class="container  py-3 " data-aos="fade-up"
      data-aos-duration="2000" >
      <h3 style="color: #fef4dd;">交通資訊<span class="h3span">Information</span></h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" style="text-align: justify;">
            <img src="" alt="">
            <p style="color:white;line-height: 32px;letter-spacing: 2px;align-items: center;">
             
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
              </svg>  <span class="inspan">自行開車</span><br>
              <strong>南下：</strong>走中山高速公路南下 → 於永康交流道下高速公路 → 走中正南路(西向)往台南市區 → 轉中華東路 → 達小東路口右轉(西向)直走便可抵成大校區。<br>
             <strong>北上：</strong>走中山高速公路北上 → 於仁德交流道下高速公路 → 走東門路(西向)往台南市區 → 直走遇長榮路右轉(北向)可抵自強、成功、敬業、建國校區 → 東門路過長榮路遇勝利路右轉(北向)直走可抵光復校門口、成功校區等。<br>
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-train-front-fill" viewBox="0 0 16 16">
                <path d="M10.621.515C8.647.02 7.353.02 5.38.515c-.924.23-1.982.766-2.78 1.22C1.566 2.322 1 3.432 1 4.582V13.5A2.5 2.5 0 0 0 3.5 16h9a2.5 2.5 0 0 0 2.5-2.5V4.583c0-1.15-.565-2.26-1.6-2.849-.797-.453-1.855-.988-2.779-1.22ZM6.5 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m-2 2h7A1.5 1.5 0 0 1 13 5.5v2A1.5 1.5 0 0 1 11.5 9h-7A1.5 1.5 0 0 1 3 7.5v-2A1.5 1.5 0 0 1 4.5 4m.5 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m0 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-3-1a1 1 0 1 1 0 2 1 1 0 0 1 0-2M4 5.5a.5.5 0 0 1 .5-.5h3v3h-3a.5.5 0 0 1-.5-.5zM8.5 8V5h3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z"/>
              </svg>  <span class="inspan">高鐵</span><br>
              高鐵台南站下車後，轉乘臺鐵沙崙線至台南站下車，往後站方向，出口正對面即為大學路，大學路直走左手邊可見光復校門口。<br>
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-train-freight-front-fill" viewBox="0 0 16 16">
                <path d="M5.736 0a1.5 1.5 0 0 0-.67.158L1.828 1.776A1.5 1.5 0 0 0 1 3.118v5.51l2-.6V5a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.028l2 .6v-5.51a1.5 1.5 0 0 0-.83-1.342L10.936.158A1.5 1.5 0 0 0 10.264 0zM15 9.672l-5.503-1.65A.5.5 0 0 0 9.353 8H8.5v8h4a2.5 2.5 0 0 0 2.5-2.5zM7.5 16V8h-.853a.5.5 0 0 0-.144.021L1 9.672V13.5A2.5 2.5 0 0 0 3.5 16zm-1-14h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1M12 5v2.728l-2.216-.665A1.5 1.5 0 0 0 9.354 7H8.5V5zM7.5 5v2h-.853a1.5 1.5 0 0 0-.431.063L4 7.728V5zm-4 5a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1m9 0a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1M5 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
              </svg>  <span class="inspan">臺鐵</span><br>
              台南站下車後，往後站方向，出口正對面即為大學路，大學路直走左手邊可見光復校門口。
             </p>
          
              </div>
          <div class="col video ">
            <div style="position:relative;padding-top:64.25%;padding-left:10%;" ><iframe width="560" height="315" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.6755607962805!2d120.21238249678952!3d22.99895500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e76ed290820d3%3A0xe0ee028be207a19e!2z5ZyL56uL5oiQ5Yqf5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1723687307540!5m2!1szh-TW!2stw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:120%;border-radius: 10px;border: 2px solid white;"></iframe></div>
          </div>
          
            </div> 
        </div>
      </div>
    </section>
 
    <section id="footer">
      <footer class="footer  py-5 " >
        <div class="container text-center">
          <div class="row align-items-center">
            <div class="col-1">
              
            </div>
            <div class="col-10">
              <div class="span_group">
                <div class="spanBox">
                  <span>主辦單位 |</span>
                    <a href="https://www.nhrm.gov.tw/w/nhrm/index" target="_blank"><img src="hum_工作區域 1.png" alt="" class="spon"></a>
                    <a href="https://www.ncku.edu.tw/" target="_blank"><img src="hum-02.png" alt="" class="spon"></a>
                  </div>
                  <div class="spanBox">
                  <span>承辦單位 |</span>
                    <a href="https://art.ncku.edu.tw/" target="_blank"><img src="hum-03.png" alt="" class="spon"></a>
                  </div>
                  <div class="spanBox">
                  <span>聯合主辦 | </span>
                  <a href="https://chass.ncku.edu.tw/" target="_blank"><img src="hum-04.png" alt="" class="spon"></a>
                  <a href="https://www.lib.ncku.edu.tw/?to=web" target="_blank"><img src="hum-05.png" alt="" class="spon"></a>
                </div>
                <div class="spanBox">
                  <span>協辦單位 | </span><a href="https://www.nmtl.gov.tw/" target="_blank"><img src="hum-06.png" alt="" class="spon"></a>
                  <a href="https://www.nmth.gov.tw/" target="_blank"><img src="hum-07.png" alt="" class="spon"></a>
                  <a href="https://festival.south.org.tw/" target="_blank"><img src="hum-08.png" alt="" class="spon"></a>
                  <a href="https://www.facebook.com/islandstage.real/" target="_blank"> <img src="hum-09.png" alt="" class="spon"></a>
                  <a href="https://catt.org.tw/" target="_blank"> <img src="hum-10.png" alt="" class="spon"></a>
                  <a href="https://www.liberal.ncku.edu.tw/" target="_blank"> <img src="hum-11.png" alt="" class="spon"></a>
                </div>
            
              </div>
            </div>
            <div class="col-1">
              
            </div>
          </div>
        </div>
        
      
        <p class="px-3" >
          <img src="humanright.png" alt="" style="width: 250px;"><br/>
          Tel：06-2757575 <br/>
          Add：No.1,University Rd.,Tainan 70101,Taiwan<br/>
          Copyright © 2024 國立成功大學人文社會科學中心. All rights reserved.<br/>
          </p>
        <ul class="list-unstyled" style="display: flex;    justify-content: center;" >
          <li class="px-3 " >
            <a href="https://www.youtube.com/@user-fq9es9zw3n">
              <i class="bi bi-youtube  h2""></i></a>
          </li>
          <li class="px-3">
            <a href="https://www.instagram.com/taiwan_study_ncku/">
              <i class="bi bi-instagram  h2 "></i></a>
          </li>
          <li class="px-3">
            <a href="https://podcasts.apple.com/us/podcast/%E6%88%90%E5%A4%A7%E4%BA%BA%E8%81%B2-ep-0-%E9%A0%90%E5%91%8A/id1614380302?i=1000554171013">
              <i class="bi bi-spotify h2 "></i></a>
          </li>
          <li class="px-3">
            <a href="https://www.facebook.com/profile.php?id=100071813840535&ref=embed_page">
              <i class="bi bi-facebook h2 "></i></i></a>
        </li>
      </li>
      <li class="immg px-3">
      <a href="https://lin.ee/CSXZjzvm"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" width="100" border="0"></a>
      </li>

          </ul> 
          
      </footer>
    </section>

    <button onclick="topFunction()" id="topBtn" title="回到頂部"><i class="bi bi-arrow-up" style="color: white;"></i></button>


   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.1/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js" integrity="sha512-gEM2INjX66kRUIwrPiTBzAA6d48haC9kqrWZWjzrtnpCtBNxOXqXVFEeRDOeVC13pw4EOBrvlsJnNr2MXiQGvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.1/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js."></script>
    <script src="vuepaper.js"></script>
    <script src="all.js"></script>


  
 

  <script>
     var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "104877438580876");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v17.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  

  <script>
    function openTab(evt, tabId) {
      // 取得所有 tab-content 元素，並隱藏它們
      var tabContents = document.getElementsByClassName("tab-content");
      for (var i = 0; i < tabContents.length; i++) {
          tabContents[i].style.display = "none";
          tabContents[i].classList.remove("active");
      }
  
      // 取得所有 tab-button 元素，並移除 active 類別
      var tabButtons = document.getElementsByClassName("tab-button");
      for (var i = 0; i < tabButtons.length; i++) {
          tabButtons[i].classList.remove("active");
      }
  
      // 顯示當前的 tab-content，並添加 active 類別到對應的 tab-button
      document.getElementById(tabId).style.display = "block";
      document.getElementById(tabId).classList.add("active");
      evt.currentTarget.classList.add("active");
  }
  
  // 預設顯示第一個頁籤的內容
  document.addEventListener("DOMContentLoaded", function() {
      document.getElementsByClassName("tab-content")[0].style.display = "block";
  });
  
  </script>
 
<script>
  (function(d) {
    var config = {
      kitId: 'mql5knc',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);

  
</script>
   
</body>
</html>

