<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>「台南400—府看府城：觀看我們的百年台南」</title>
    <meta name="description" content="在臺灣漢人的歷史脈絡及論述中，我們將在 2024年迎來台南400，此一重要時刻引發了我們對臺南的深刻思考。「在地性」（sense of place）是人們對地方具體生活經驗所產生的認同感，透過這些具體生活經驗，我們與世界建立著聯繫，並確立與生活世界的關係。為深入理解臺南的多樣性，「府看．府城」系列活動以「百年民生」及「人文地景」兩大主題下的十個面向，感知臺南的生動表述和在地記憶，俯瞰百年臺南。透過專題講座、音樂會以及走讀踏查，深入了解這片土地的歷史和文化脈絡，體會臺南獨特的特質和意義。">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta property="og:locale" content="zh_TW"/>
    <meta property="og:title" content="府看府城" />
    <meta property="og:description" content="在臺灣漢人的歷史脈絡及論述中，我們將在 2024年迎來台南400，此一重要時刻引發了我們對臺南的深刻思考。「在地性」（sense of place）是人們對地方具體生活經驗所產生的認同感，透過這些具體生活經驗，我們與世界建立著聯繫，並確立與生活世界的關係。為深入理解臺南的多樣性，「府看．府城」系列活動以「百年民生」及「人文地景」兩大主題下的十個面向，感知臺南的生動表述和在地記憶，俯瞰百年臺南。透過專題講座、音樂會以及走讀踏查，深入了解這片土地的歷史和文化脈絡，體會臺南獨特的特質和意義。" />
    <meta property="og:url" content="https://tainan-400.com/mainlogo-01.svg"/>
    <meta property="og:site_name" content="府看府城"/>
    <meta property="og:image:width" content="436">
    <meta property="og:image:height" content="228">
    <meta property="og:image" content="https://tainan-400.com/mainlogo-01.svg" />
    <meta property="og:type" content="image/svg" />
    <meta property="og:image:alt" content="在臺灣漢人的歷史脈絡及論述中，我們將在 2024年迎來台南400，此一重要時刻引發了我們對臺南的深刻思考。「在地性」（sense of place）是人們對地方具體生活經驗所產生的認同感，透過這些具體生活經驗，我們與世界建立著聯繫，並確立與生活世界的關係。為深入理解臺南的多樣性，「府看．府城」系列活動以「百年民生」及「人文地景」兩大主題下的十個面向，感知臺南的生動表述和在地記憶，俯瞰百年臺南。透過專題講座、音樂會以及走讀踏查，深入了解這片土地的歷史和文化脈絡，體會臺南獨特的特質和意義。" />
    
    <link rel="shortcut icon" href="taplogo-14.png" type="image/x-icon" />
    <link rel="icon" href="taplogo-14.png" type="image/x-icon" />
    <link rel="bookmark" href="taplogo-14.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
</head>
<body>


 
  <nav class="navbar navbar-expand-lg  sticky-top">
      <div class="container-fluid">
          <a class="navbar-brand px-4 d-lg-none" href="index.html">
              <img src="mainlogo-01.svg" alt="Logo" width="auto" height="50" class="logo1 d-inline-block align-text-top ">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto" >
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="#introduce">府看．府城</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="activity.html">系列活動</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link " href="paper.html">相關文章</a>
            </li>
           
            <a class="navbar-brand px-5 d-none d-lg-block " href="index.html">
              <img src="mainlogo-01.svg" alt="Logo" width="auto" height="70" class="mainlogo d-inline-block align-text-top ">
            </a>
            <li class="nav-item px-3" >
              <a class="nav-link " aria-current="page" href="video.html">相關影音</a>
            </li>
           
            <li class="nav-item px-3">
              <a class="nav-link " href="#footer">聯絡我們</a>
            </li>
            <li class="nav-item2 px-3 " >
              <a href="https://www.youtube.com/@user-fq9es9zw3n">
                <i class="bi bi-youtube  h2""></i>
              </a>
          </li>
          <li class="nav-item2 px-3 ">
              <a href="https://www.facebook.com/profile.php?id=100071813840535&ref=embed_page">
                <i class="bi bi-facebook h2 "></i>
              </a>
          </li>
          <li class="nav-item2 px-3">
            <a href="https://www.instagram.com/taiwan_study_ncku/">
              <i class="bi bi-instagram  h2 "></i></a>
          </li>
         
          </ul>
        </div>
      </div>
  </nav>

  <section id="banner">
    <div class="banner-content"style="max-width: 1600px;margin:auto;">
      <ul style="list-style: none;">
        <li>
        
        </li>
        <li>
          <a href="#article">
            <button class="btn1" style="position: absolute;left:40%;top:85%;z-index: 95;" >相關文章</button>
          <img src="gate.png"  style="width: 120px;margin: 0;position: absolute;left:40%;top:70%; z-index: 94" class="gate"> 
        </a> 
        </li>

        <li>
         <a href="https://linktr.ee/chassncku">
          <img src="temple-02.png"  style="width: 500px;margin: 0;position: absolute;right:1%;top:-15%;z-index: 93;" class="temple">
          <button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position: absolute;right:15%;top:17%;z-index: 95;">
            意見回饋
          </button>
        </a>

          
        </li> 
    
        <li>
          <img src="chi-08.png" style="width: 320px;margin: 0;position: absolute;right:3%;top:6%;z-index: 94;" class="chi">
          <img src="sugarfactory-06.png"  class="sugarfactory" style="width: 320px;margin: 0;position: absolute;right:7%;top:23%;z-index: 94;">
          <img src="train-12.svg"  style="width: 300px;margin: 0;position: absolute;right:0%;top:50%; z-index: 94;" class="train"> 
          <img src="chi-08.png"  style="width: 200px;margin: 0;position: absolute;right:5%;top:40%; z-index: 94" class="chi"> 
          <img src="way-07.png"  style="width: 390px;margin: 0;position: absolute;right:5%;top:40%; " class="way"> 
        </li> 

        <li>
          <img src="person-10.png"   style="width: 200px;margin: 0;position: absolute;left:10%;top:0%;transform: rotateY(360deg);z-index: 9999;" class="person">

          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:-5%;z-index: 94;" class="cloudleft">
          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:40%;z-index: 94;" class="cloudleft">
          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:60%;z-index: 94;" class="cloudleft">

          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:6%;top:50%;z-index: 94;opacity: 0.6;" class="stickcloud">

          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:2%;top:40%;z-index: 94;opacity: 0.6;" class="stickcloud">

          <img src="cloud-11.png"   style="width: 400px;margin: 0;position: absolute;left:0%;top:35%;z-index: 94;opacity: 0.6;" class="stickcloud">

      
         
         
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;left:30%;top:50%;z-index: 94;transform: rotate(180deg);" class="cloudleft">
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;left:10%;top:80%;z-index: 94;" class="cloudleft">

          <img src="cloud-11.png"   style="width: 300px;margin: 0;position: absolute;right:0%;top:0%;z-index: 94;transform: rotate(180deg);" class="cloudright">
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;right:0%;top:50%;z-index: 94;" class="cloudright">
          <img src="cloud2-12.png"   style="width: 250px;margin: 0;position: absolute;right:10%;top:80%;z-index: 94;" class="cloudright">
        </li> 

        <li>
          <img src="ship-03.png"   style="width: 600px;margin: 0;position: absolute;left:-10%;top:45%;" class="ship" >
        </li> 

        <li>
          
          <img src="tree-14.svg"  class="banyan" style="width: 300px;margin: 0;position: absolute;right:35%;top:23%;z-index: 94;">
          
          <img src="mainslogan.png" alt="" style="width:450px;position: absolute;left:3%;top:6%;z-index: 90;" class="slogan">

        </li> 

        <li>
          <a href="#introduce">
            <button class="btn1" style="position: absolute;left:17%;top:58%;z-index: 95;" >「府看．府城」</button>
          <img src="tainananping.png"  class="anping" style="width: 230px;margin: 0;position: absolute;left:16%;top:25%;z-index: 94;" ></a>
        </li> 

      </ul>
    </div>
  </section>

  <section id="introduce" >
    <div class="container" data-aos="fade-up"
    data-aos-duration="2000"  >
      <div class="row "  > 
        <div class="col-1"></div>
        <div class="col-10 ">
          <h3>「府看．府城」</h3>
          <p style="text-align: justify;">
            在臺灣漢人的歷史脈絡及論述中，我們將在 2024年迎來台南 400，此一重要時刻引發了我們對臺南的深刻思考。「在地性」（sense of place）是人們對地方具體生活經驗所產生的認同感，透過這些具體生活經驗，我們與世界建立著聯繫，並確立與生活世界的關係。<br/>
            <br/>
            「觀看」一直是理解世界的重要方式，而現象學更強調感知地方或世界是建立在「視域」（horizon）之上。因此，我們關心人們如何看待臺南，在歷史脈絡中，過去的臺南又是如何被感知和看見的。哪些特質與痕跡構成了臺南的表述和記憶？它們又如何形成臺南的基本元素和意義？<br/>
            <br/>
            為深入理解臺南的多樣性，「府看．府城」系列活動以「百年民生」及「人文地景」兩大主題下的十個面向，感知臺南的生動表述和在地記憶，俯瞰百年臺南。透過專題講座、音樂會以及走讀踏查，深入了解這片土地的歷史和文化脈絡，體會臺南獨特的特質和意義。<br/>
        </p>
        <div class="col-1"></div>
       <div class="container py-3" style="text-align: justify;">
            <div class="row ">
              <div class="col">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header ">
                      <button class="accordion-button collapsed  d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        交通運輸
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        臺灣鐵路運輸帶來政經文化的快速發展，百年來，鐵道一直是城市進步繁榮的最大驅動力，更是臺灣邁向現代化的關鍵角色。臺灣鐵道建設的起點始於1887年清末劉銘傳時代，歷經明鄭、日治時期，一路至今，造就現今縱貫全台的鐵道網絡。臺灣鐵道種類多元，主要分四類，1435mm軌距的高鐵、大眾捷運、1067mm軌距的台鐵、762mm軌距的產業鐵道（糖鐵、林業、鹽業等）、610mm礦業。由此看出從產業需求到民生生活，臺灣鐵道不僅影響臺灣產業經濟的發展，更改變了人們的生活時空、生活習慣。本次人文沙龍，我們邀請到鐵道專家蘇昭旭老師，他畢生致力於完成鐵道智庫全書，為臺灣鐵道歷史留下諸多的著作。本次講座將回首臺灣鐵道百年的發展與城市文化、產業經濟、地貌的連結，也重新審思現今的鐵道政策對國人生活與文化的影響。<br>
                        
                        <a href="activity02.html"><button class="btn2"  type="button" >9/19「細說臺灣鐵道百年史：火車歷史的軌跡與現況」專題演講</button></a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        產業變遷
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        臺灣因得天獨厚的氣候與地理屬性，在數百年的歷史中，經歷各種產業轉向，一直保有十分興盛的經濟活動。從早期的農作物與動物製品，到工業時期的加工出口，再到如今的科技產品輸出，在在顯示臺灣不僅擁有豐富多樣的物產，更具備優良的技術與通商條件。因而從古至今，臺灣在國際貿易中一直扮演重要的角色。
                        根據文獻記載，臺灣可能在16世紀晚期就有鹿產出口，鹿皮輸往日本，鹿脯則運往福建。鹿產貿易提升原住民的所得，但利益衝突也隨之而來。荷蘭人於1630年代中期在臺灣建立殖民統治政權後，引進漢人來臺灣捕鹿, 造成鹿產資源耗竭。不過，荷蘭人很快就改採資源保育政策。由現存的記錄看來，一直到荷治末期，資源保育政策相當成功。
                        本主題從經濟發展的視角，觀察並梳理臺灣數百年來的產業發展與變遷，從鹿皮貿易史到半導體大國，看見臺灣的經濟活力與多重可能性。<br>
                        <a href="activity12.html"><button class="btn2"  type="button" >9/20「臺灣荷治時期的鹿與原住民」專題演講</button></a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        糖鐵經濟
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        甘蔗在臺灣經濟中扮演了重要的角色，已有四百多年的歷史，是臺灣農業轉向工商業的關鍵產物。根據史料記載，在荷蘭人來臺前，臺灣已有甘蔗的種植。從荷蘭、明鄭、清治、日治到戰後時期，甘蔗一直作為生產蔗糖的原料並成為貿易商品，成為歷代政權和殖民者的重要產物。在近百年的臺灣糖業中，尤其是日治時期的糖業不僅是日本殖民臺灣的主要方針和經濟支柱，也是臺灣近代工業化的基礎。甚至在國共內戰結束後，國民政府遷臺後，糖業成為了打造所謂的「經濟奇蹟」的原動力。臺灣糖業的興衰代表著臺灣四百年來的貿易興衰，而臺灣糖業的歷史則講述了臺灣百年來的殖民發展史。<br>
                        <a href="activity03.html"><button class="btn2"  type="button" >9/23「從牛車到五分車—來蔗走走」走讀</button></a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        紡織工業
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        衣服是人類的第二皮膚，有著深厚文化內涵，材質和型態轉變也與時俱進，民生產業和都會經濟發展關連密切。臺灣第一部動力織布機在臺南啟動，而臺南從日治時期開始，更逐步發展成為臺灣紡織重鎮。在臺南邁入四百年之際，從紡織工業的興衰與變遷，探究臺灣織布發展史。從日治時期「臺灣織布株式會社」到戰後臺南成為紡織重鎮，描述分析臺南紡織工業從興盛、式微到轉型成功的原因及現況，細數過往輝煌歷史，更迎向新時代轉型的展望。 <br>
                        <a href="activity13.html"><button class="btn2"  type="button" >9/27「迢迢織路：臺南紡織工業 400 年」專題演講</button></a>      
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        影戲文化
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        1960年代至1970年代是臺語片的黃金時代，當時超過1500部臺語片問世。然而，曾經風光一時的臺語片為何逐漸式微，甚至被冠以粗製濫造的代名詞？重新梳理臺語電影史，將有助於重新認識戰後臺灣的文化史，並理解臺語電影的發展與每個時代的背景、政治和文化等密不可分的關係。臺語電影透過語言、文化、景觀、故事主題和人物性格等方面的呈現，能夠展現地方的特殊性、表達和記憶。它成為一種融合地方認同、文化傳承和情感連結的藝術形式，透過影像和故事傳遞地方的獨特價值和形象，同時豐富了臺灣的電影文化。 探索臺語電影史能夠深入了解這一藝術形式的興衰原因，以及背後所蘊含的社會和文化變遷。它不僅是一個觀察臺灣電影發展的重要視角，也是瞭解臺灣社會變遷的重要窗口。透過重構臺語電影史，我們可以回顧這段曾經蓬勃發展的時代，並思考臺語片在當代電影中的位置和價值。臺語電影的重要性不僅體現在其文化價值上，也對臺灣的電影產業產生了深遠的影響。重新探索臺語電影史有助於更好地理解臺灣電影的多樣性和豐富性，同時也為保護和推廣臺灣電影的在地文化作出貢獻。  <br>
                        <a href="activity04.html"><button class="btn2"  type="button" >10/4「重塑被被消音的歷史—全球史視角的台語電影發展史」專題演講</button></a>   
                        <a href="activity15.html"><button class="btn2"  type="button" >12/6「府城傳奇．戰火波瀾」木偶戲</button></a>        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        漫畫飲食
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        臺南飲食結合了數百年的移民文化，承載著歷史記憶，形成了微甜、多樣化且經典的臺南美食小吃文化。不同於大都市的精緻餐館，臺南的小吃總能引領旅客踏上一段蘊含歷史歲月的舌尖之旅。本系列將透過手繪漫畫與故事的敘述手法，從視覺產生的衝擊，帶您踏上一場美食之旅，除探索臺南的飲食文化，也了解背後的歷史和傳承。漫畫中的場景、角色和故事情節能夠描繪出地方的特殊性。我們可以透過漫畫細膩地呈現地方的建築風格、街道景觀、自然環境等，展示地方的獨特地景。同樣地，漫畫也能夠描繪當地的特色小吃、傳統美食和烹飪方式，展現地方飲食文化的獨特性。 漫畫和飲食文化能夠透過地方特色的描繪、文化傳承的融入，以及情感聯繫和回憶喚起，展現地方的獨特性和豐富性。它們能夠讓觀眾更深入地了解和感受地方的文化、風土人情和歷史。透過這樣的表達方式，觀眾能夠在享受美食的同時，亦能更深入地體驗臺南獨有的飲食文化。 <br>
                        <a href="activity05.html"><button class="btn2"  type="button" >10/19「府城飲食文化的趣味」專題演講</button></a>     
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        在地音樂
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        音樂作為一種喚起藝術感知的表達形式，以獨特的魅力展現地方特色、歷史記憶與文化身分，也代表了特定時代的價值認同。而歌曲的演唱不僅能夠抒發當下的情感，亦能引發人們對於歷史與社會的聯想，深入歌詞與旋律的語境與氛圍。<br>
                        <br>
                        臺灣民謠歌曲及臺語流行歌曲，承載著各個時代所發生的社會事件、政治環境和經濟景況，不同的故事和曲式也蘊含著不同的意義。透過詮釋這些歌曲，我們能夠深入了解臺灣的文化和歷史發展脈絡，這些音樂作品也能夠反映臺灣人在不同年代的生活方式、價值觀與思想，以及臺灣當代文化的面貌和社會變遷。<br>
                        <br>
                        臺灣學的「一首歌・一個時代」音樂會，透過鋼琴家蔡明叡與古意唸歌團的合奏，帶出東西方樂器對台灣百年歌曲的轉譯和對話，細數臺灣百年音樂故事。而在迎來「臺南400」之際，更邀請到謝銘祐、大支、阿雞、韓森等臺南音樂人，共同出演「臺南400」，透過流行音樂的表述，讓人們體驗臺南的文化活力與多元性。由此，音樂成為一個重要的文化身份標誌，不僅凸顯臺南特色的音樂形式與風格，也成為在地人身份認同的象徵，深化對地方的歸屬與認同。<br>
                        <a href="activity01.html"><button class="btn2"  type="button" >4/19「一首歌，一個時代」音樂會</button></a>  
                        <a href="activity11.html"><button class="btn2"  type="button" >11/8「臺南400」演唱會</button></a>    
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        城市景觀
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        街屋和街景可以展現地方獨特的建築風格和特色。每個地方都有其獨特的建築風格和特殊的建築元素，例如臺灣的傳統閩南式街屋、荷蘭式建築、日治時期的洋樓等。這些建築風格和特色可以在街景中得以體現，呈現地方的獨特性和歷史文化。臺南的街屋和街景是城市的靈魂所在，承載著豐富的歷史和文化記憶。在這系列講座中，我們除透過人文沙龍的講述，也將實際帶領您穿越時空，漫步在臺南的大街小巷，以視覺感受這些街區、街屋背後所蘊含的歷史與文化魅力。您將了解到臺南街屋的演變和保存工作，並體驗到這些街區、街屋所散發的獨特韻味和人文氛圍。街屋和街景承載著地方的歷史和記憶。街屋作為建築物，可能具有悠久的歷史背景和文化意義。街景所呈現的場景和元素也能夠喚起觀眾對地方的記憶和情感聯繫。街道上的建築、招牌、街頭藝術等都是展現地方歷史和記憶的重要元素，能夠聯想到過去的時光和地方的故事。
                        <br>
                        
                        <a href="activity06.html"><button class="btn2"  type="button" >11/27「行走臺南四百：在一座歷史城市裡的感知、考現與書寫」專題演講</button></a> 
                        <a href="activity07.html"><button class="btn2"  type="button" >12/2「散策米街明治町」走讀</button></a> 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        醫學建築
                      </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        1981年鑑於「提升南臺灣醫療水準，平衡南北醫療差距」，中華民國政府成立了第一家國立大學附設醫院──成大醫院。成大醫院自成立以來一直承擔著串聯南臺灣醫療資源體系的重要使命，至今仍然在努力提供高品質的醫療服務。而臺南府城作為臺灣最具人文歷史美學的生活城市，擁有豐富的歷史資源。每條街道、每條巷弄都可以見證獨特的歷史建築。例如「新樓醫院馬雅各醫院紀念館」和「太平境教會」等地方成為了探索臺南醫療史的絕佳場所。此外，臺南府城被譽為眾神之都，擁有宏偉的廟宇和古老的中藥房。這些地方可能成為老臺南人一生中心靈和健康託付的所在。臺南府城以其深厚的歷史文化底蘊和獨特的醫療資源，呈現出一種獨特的結合，這種結合凸顯了臺南作為一個獨特城市的特色，不僅僅是它的歷史，也是它的醫療體系所帶來的價值。這使得臺南成為一個值得探索和體驗的地方。<br>
                        <a href="activity08.html"><button class="btn2"  type="button" >12/10「從驅疾到療疫─府城醫療地景踏查」走讀</button></a> 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        廟宇信仰
                      </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        臺南作為臺灣的府城，廟宇密度確實是全臺最高的，這是因為早期先民篳路藍縷在來臺的過程中，將宗教信仰視為重要的精神支柱。從廟宇的建築修繕、外觀變化，到廟址的遷移，都凸顯出臺南甚至整個臺灣宗教信仰與社會發展之間的密切關係。廟宇在臺南的重要性不僅體現在宗教信仰上，也承載著豐富的地方故事和民間傳說。這些故事和傳說與地方的歷史、神話和傳統緊密相連，通過廟宇信仰得以傳承和傳播。廟宇中的祭祀信仰圈、祭祀儀式和廟會陣仗等元素，更凸顯了地方信仰和社會發展的緊密聯繫。這些地方故事和傳說賦予廟宇特殊的意義和象徵，展現了臺南的獨特性和地方的連結性。 在廟宇中，你可以聽到各種令人感動的故事，例如一位保佑漁民安全返航的神明，或是一個擁有特殊神力的神像。這些故事讓廟宇成為了地方的文化代表，吸引著許多人前來參拜和了解。走訪臺南的廟宇，你將不僅感受到宗教的力量和人們的虔誠，同時也能深入了解臺南的歷史、文化和民間傳說。這樣的體驗將帶給你對臺灣宗教信仰和社會發展的更深刻理解，同時彰顯了廟宇作為地方記憶和社區連結的重要角色。<br>
                        <a href="activity09.html"><button class="btn2"  type="button" >12/15「臺南奇廟對談的奇妙故事」專題演講</button></a> 
                        <a href="activity10.html"><button class="btn2"  type="button" >12/15「臺南400—鎮北百年老廟巡禮」走讀</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="app">
    <section id="activity">
      <h3>系列活動<a href="activity.html"><span class="more">more</span></a></h3>
      <div class="swiper mySwiper" data-aos="fade-up"
      data-aos-duration="2000" style="padding-top: 20px;">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="x in activityList.slice(12, 21)" >
            <a :href="x.url" target="_blank">
              <img :src="x.img" alt="" class="swiperimg">    
          </a>
          </div>
        </div>
      </div>  
    </section>

    <section id="article">
      <h3>相關文章<a href="paper.html"><span class="more">more</span></a></h3>
      <div class="container" data-aos="fade-up"
      data-aos-duration="2000"  >
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col" v-for="i in filteredList.slice(0, 4)">
            <div class="card h-100 " >
              <a :href="i.url" target="_blank">
                <div class="cardineer">
                  <img :src="i.img" class="pictureimg" style="width: 100%;height: 220px;" >
                </div>
              </a>
              <div class="card-body" style="text-align: justify;">
                <strong><p style="font-size: 16px;padding-top: 10px;color:#2F3E45;">{{ i.title }}</p></strong>
                <p style="font-size:14px">{{ i.describe }}</p>
                <p style="font-size:14px">{{ i.author }}</p>
                <p style="font-size:14px"> {{ i.data }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="video" >
      <h3 >相關影音<a href="video.html"><span class="more">more</span></a></h3>
      <div class="container  py-3 " data-aos="fade-up"
      data-aos-duration="2000" >
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col video ">
            <div style="position:relative;padding-top:56.25%;padding-left:10%;" ><iframe width="560" height="315" src="https://www.youtube.com/embed/P6BHmRPSQSo?si=l9MZgiPbHJ_cG4rt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 10px;border: 2px solid #7D4621;"></iframe></div>
          </div>
          <div class="col" style="text-align: justify;">
            <p style="color:#7D4621;line-height: 30px;letter-spacing: 2px;align-items: center;"><strong>「府看・府城」系列 Podcast</strong><br/> <br/> 在迎接臺南四百之際，「府看・府城」系列 Podcast帶您發掘百年的食衣住行育樂，與各行各業的在地嚮導走入歷史街區，感受府城的百年文化魅力。<br>
            <br>本集節目中和我們一起府看府城的，是臺南在地創業家楊子興。子興不只是錦源興百年布莊的第四代負責人，更身兼設計師、策展人、文史工作者和 podcaster。我們特別邀請子興從他的<a href="https://podcasts.apple.com/tw/podcast/%E5%B0%8F%E5%8D%97%E7%94%9F-%E5%B0%8F%E8%80%81%E9%97%86%E7%9A%84%E8%87%BA%E5%8D%97%E5%89%B5%E6%A5%AD%E7%94%9F%E6%B4%BB/id1648125523" style="color:#643021 ;font-weight: 600;"> Podcast 節目小南生 </a>轉移陣地來到<a href="https://chass.ncku.edu.tw/p/412-1011-28285.php?Lang=zh-tw" style="color:#643021 ;font-weight: 600;">  成大人聲 </a>，和我們聊聊百年布莊的歷史，聽小老闆談老字號如何走上新路，以及他對於文化藝術產業的想法與願景。 
            </p>
            <!-- <p>
             
              <button class="btn1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
                成大人聲
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body" >
                <p style="text-align: justify;">
              <strong> 謝銘祐</strong>，臺灣音樂製作及詞曲創作人、麵包車樂團成員，2000年結束長達10多年在臺北擔任音樂製作人，回到臺南故鄉，時常穿梭臺南大街小巷，因而自稱「府城流浪漢」。以臺語創作出多首膾炙人口歌曲、獲獎無數，如：個人創作專輯《臺南》、《也獸》分別獲得獲第24、26屆金曲獎「最佳台語專輯獎」與「最佳台語男歌手獎」、《舊年》獲第28屆金曲獎「最佳台語男歌手獎」、《舊年》獲31屆金曲獎「最佳作詞人獎」、「最佳單曲製作人獎」。<br/>
              
              <strong> 大支</strong>，臺灣知名的饒舌歌手和音樂製作人。以其才華洋溢和獨特的音樂風格而聞名。年輕時就對音樂表現出濃厚的興趣，並開始創作自己的歌曲。音樂風格融合了饒舌、嘻哈和節奏藍調等元素，並加入了對社會議題和生活觀察的深刻詮釋。他的歌詞充滿了靈魂和真實的情感，引起了廣大聽眾的共鳴。個人創作專輯《人》獲第3屆金音創作獎「最佳嘻哈專輯獎」、「最佳專輯獎」等。</p>
              </div>
            </div> -->
        </div>
      </div>
    </section>
    
    <section id="url" >
      <div class="swiper mySwiper" data-aos="fade-up"
      data-aos-duration="2000" >
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="i in urlList">
            <a :href="i.url">
              <img :src="i.img" alt="" class="swiperurl">
            </a>
          </div>
        </div>
      </div>
      <a href="#banner" >
        <button class="btn1" style="float: right;margin-right:30px;margin-top: 10px;" data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom">回頂端</button>
      </a>
    </section>
  </div>
    
  <section id="footer">
    <footer class="footer  py-5 " >
      <p class="px-3">
        <img src="taiwanstudy-01.svg" alt="" style="width: 100px;"><br/>
        國立成功大學人文社會科學中心<br/>
        Tel：06-2757575 ext.56056<br/>
        Fax:06-2088264<br/>
        Email：nckutwchass@gmail.com<br/>
        Add：70101 臺南市東區大學路一號光復校區雲平大樓東棟北側5樓<br/>
        </p>
      <ul class="list-unstyled" style="display: flex;    justify-content: center;" >
        <li class="px-3 " >
          <a href="https://www.youtube.com/@user-fq9es9zw3n">
            <i class="bi bi-youtube  h2""></i></a>
        </li>
        <li class="px-3">
          <a href="https://www.instagram.com/taiwan_study_ncku/">
            <i class="bi bi-instagram  h2 "></i></a>
        </li>
        <li class="px-3">
          <a href="https://podcasts.apple.com/us/podcast/%E6%88%90%E5%A4%A7%E4%BA%BA%E8%81%B2-ep-0-%E9%A0%90%E5%91%8A/id1614380302?i=1000554171013">
            <i class="bi bi-spotify h2 "></i></a>
        </li>
        <li class="px-3">
          <a href="https://www.facebook.com/profile.php?id=100071813840535&ref=embed_page">
            <i class="bi bi-facebook h2 "></i></i></a>
      </li>
    </li>
    <li class="immg px-3">
    <a href="https://lin.ee/CSXZjzvm"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" width="100" border="0"></a>
    </li>
        </ul> 
    </footer>
  </section>
   <!-- Messenger 洽談外掛程式 Code -->
   <div id="fb-root"></div>

   <!-- Your 洽談外掛程式 code -->
   <div id="fb-customer-chat" class="fb-customerchat">
   </div>


  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.1/dist/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="
  https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.3/dist/index.min.js
  "></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js."></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.3/dist/index.min.js"></script>
  <script src="vuepaper.js"></script>
  <script src="all.js"></script>

  <script>
     var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "104877438580876");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v17.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  


 


  
    
</body>
</html>